<div class="container pt-5 pb-5">
  <h3 class="font-weight-bold black-text mb-4 pb-2 text-center wow zoomIn" data-wow-delay="0.6s">Программа для автоматизации ресторанов Flagman</h3>
  <p class="font-weight-bold lead text-muted mx-auto mt-4 pt-2 mb-5 text-center wow zoomIn" data-wow-delay="1.6s">Интерфейс программы для ресторанов и ее основные возможности:</p>
  <div class="row flex-center">

    <div class="col order-2 wow fadeInRight" data-wow-delay="0.6s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-th-list fa-2x green-text pr-2"></i>
          МЕНЮ И КАССОВОЕ МЕСТО
        </h6>
        <p class="text-muted">
          Просто перенесите ваше стандартное меню в программу, сохранив категории и подкатегории. Мгновенная распечатка чеков клиентам.
          Системы лояльности и скидок и множество других возможностей. Быстрая работа с заказами и отчет по продажам!
        </p>
      </div>
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-recycle fa-2x green-text pr-2"></i> КУХНЯ И БАР
        </h6>
        <p class="text-muted">
          Бегунок распечатывается на кухонном принтере сразу же, как только официант оформит заказ.
          От заказа до подачи блюда – считанные минуты! Довольные и счастливые клиенты и больше заказов.
        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-file-alt fa-2x green-text pr-2"></i>
        ОТЧЕТЫ И АНАЛИТИКА
      </h6>
      <p class="text-muted">
        Отчеты (настраиваемые) будут приходить ежедневно на ваш емейл после закрытия смены.
        Наглядные графики Аналитики по любому показателю и за любой период времени. Анализ – путь к успеху!
      </p>

    </div>


    <div class="col-lg-6 order-1 wow fadeInLeft" data-wow-delay="0.6s">
      <img lightbox backgroundColor="white" class="img-fluid" src="assets/flagman/logointerface.png" alt="Sample image">

    </div>

  </div>


</div>
























