<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/auto-index'">Автомобильные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">ПЕРЕДВИЖНЫЕ ВЕСЫ ФЕРМЕР</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-7 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">ПЕРЕДВИЖНЫЕ ВЕСЫ «ФЕРМЕР»</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">Весы предназначены для статического взвешивания малотоннажных грузовых автомобилей с полным заездом на платформу.
          </h5>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 mb-0">

          <!-- Featured image -->
          <div class="view overlay">
            <img class="img-fluid rounded-circle mx-auto" src="assets/move/logo.jpg" alt="Sample image">

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Передвижные, малогабаритные автомобильные весы «Фермер» не требуют специального фундамента и могут устанавливаются на горизонтальное дорожное покрытие (асфальт, бетон) или дорожные плиты. Благодаря оригинальной конструкции (вес не более 2,5 тонн, габаритные размеры со снятыми пандусами 6х3м), весы легко перевозятся стандартным грузовым автотранспортом.
      </h5>
    </div>

  </section>




  <!--Radio buttons-->
  <section class="container">


    <div  class="container">




      <div lightbox-group class=" ">
        <div class="row ">
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/11.JPG" alt="">
          </div>
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/22.jpg" alt="">

          </div>
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/33.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/44.jpg" alt="">
          </div>
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/55.jpg" alt="">
          </div>
          <div class="col-4 py-1 my-1">
            <img lightbox class="img-fluid" src="assets/move/66.JPG" alt="">
          </div>
        </div>


        <div class="row flex-center">
          <div class="col-4 py-1 my-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GpoY0HwvHcw" allowfullscreen></iframe>
            </div>
          </div>
          </div>


      </div>





    </div>



  </section>
  <!--Radio buttons-->


  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Электронный индикаторный блок MERAV 2000 подключается к компьютеру или ноутбуку посредством интерфейса RS232. Для автономной работы, до 72 часов, индикаторный блок имеет встроенный аккумулятор и подсветку дисплея. Если к весам нет возможности провести линию электропитания, индикатор со встроенным аккумулятором легко отсоединить для подзарядки. Показания веса на дисплее свободно читаются с расстояния в несколько метров.<br>
        Датчики в весах имеют степень защиты от пыли и влаги IP68, что по сути, позволяет им работать даже в воде, и защищены от разрядов молнии. Рабочий температурный диапазон датчиков от -30°С до +45°С.<br>
        Программное обеспечение для компьютера или ноутбука поставляется бесплатно и позволяет вести учет отвесов с сохранением фотографии момента взвешивания, выписывать весовые талоны и накладные. Поддерживает «двойное взвешивание» (брутто, тара) для вычисления веса нетто. При необходимости, обеспечивает удаленный доступ к данным о взвешиваниях из любой точки мира посредством приложения ScalesControl.<br>
      </h5>
    </div>


    <div class="flex-center pt-4 pb-4">
      <img
        src="assets/industrial/div.jpg"
        class="img-fluid z-depth-1"
      />
    </div>



    <h1 class="h2 text-center">Стандартная комплектация</h1>

    <div class="flex-center pt-2 pb-2">
      <div class="row">
        <div class="col">
          <img src="assets/industrial/icons/Temp-30+45.png" ngbTooltip="Рабочий температурный диапазон датчиков от -30 до +45 °С" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/SensorIPsecure.png" ngbTooltip="Защита датчиков от пыли и влаги по стандарту IP68" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/RGML14.png" ngbTooltip="Весы соответствуют требованиям стандарта RGML14:2007 " container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/ramp.png" ngbTooltip="Передвижные металлические/бетонные пандусы" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/Paint.png" ngbTooltip="Специальная окраска грузоприемной платформы для защиты от коррозии" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/RS232conection.png" ngbTooltip="Интерфейс RS232 для связи с компьютером" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/ShockProtection.png" ngbTooltip="Защита датчиков от удара молнии" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/DisplayIPsecure.png" ngbTooltip="Защита индикатора от пыли и влаги по стандарту IP67" container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/Soft.png" ngbTooltip="Специальное программное обеспечение AlexScales для работы с весами, документацией и отчетов." container="body"  class="pr-4 pb-4">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/ScalesControl.png" ngbTooltip="Мобильное приложение для удаленного контроля результатов взвешивания ScalesControl" container="body"  class="pr-4 pb-4">
        </div>
      </div>
    </div>




    <h1 class="h2 text-center">Дополнительно могут комплектоваться</h1>

    <div class="flex-center pt-2 pb-2">
      <div class="row">
        <div class="col">
          <img src="assets/industrial/icons/AddDisplay.png" ngbTooltip="Выносное индикаторное табло" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/DisplayShockProtection.png" ngbTooltip="Защита от молний индикаторного блока" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/DigitalSensors.png" ngbTooltip="Цифровые датчики" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/lights.png" ngbTooltip="Система управления потоком - светофоры" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/barrier.png" ngbTooltip="Система управления потоком – шлагбаумы" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/Photo.png" ngbTooltip="Система регистрации изображения взвешиваемого автомобиля" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/RFIDidentification.png" ngbTooltip="Система идентификации транспорта RFID" container="body"  class="pr-2 pb-2">
        </div>
        <div class="col">
          <img src="assets/industrial/icons/Automatic.png" ngbTooltip="Управление весами и регистрация взвешивания без участия оператора" container="body"  class="pr-2 pb-2">
        </div>
      </div>
    </div>



    <!--Grid row-->
    <div class="py-2 my-2">
      <div class="row flex-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-2 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img lightbox backgroundColor="white" src="assets/cert/bsaa.jpg" class="img-fluid" alt="">
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">


          <h6 class="">Автомобильные весы Alex S&E соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания».
            Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.</h6>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <div class="py-3 my-3">
      <h1 class="h2 text-center">Характеристики</h1>
      <div class="">
<!--      <img lightbox backgroundColor="white" src="assets/move/tech.png" class="img-fluid" alt="">-->
        <table mdbTable striped="true" bordered="true">
          <thead>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <td class="font-weight-bold">{{el.first}}</td>
            <td class="font-weight-bold">{{el.last}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </section>



</div>
