<div class="container pt-4">

  <!-- Section -->
  <section>

    <style>
      .border-top {
        border-top-width: 2px !important;
      }
    </style>

    <div class="row ">

      <div class="col-md-8 col-lg-8 col-xl-6 wow fadeInLeft" data-wow-delay="0.6s">

        <p class=" mb-5 pb-md-3">Компания Alex-se предлагает услуги по ремонту и сервисному обслуживанию автомобильных, вагонных весов и дозаторов. Ремонт, обслуживание и техническую поддержку оказывают опытные и квалифицированные специалисты нашей компании.
          <p>При возникновении неисправностей в работе оборудования специалист нашей компании проконсультирует Вас по телефону и предложит оптимальное решение проблемы.
        <p>Если дистанционное устранение неисправности невозможно, то Ваша заявка в кратчайшие сроки будет рассмотрена и сервисная бригада прибудет к Вам для осуществления ремонта и наладки на месте.</p>
      </div>

      <div class="col-md-8 col-lg-8 col-xl-6 wow fadeInRight" data-wow-delay="0.6s">

        <p class="mb-5 pb-md-3">Наши технические специалисты осуществляют ремонт и сервисное обслуживание весов различной степени сложности. При необходимости решения сложных задач, к работе привлекаются инженеры-разработчики и программисты компании. В работе мы используем оригинальные запасные части и расходные материалы.

        <p>Мы гарантируем своим клиентам оперативную техническую поддержку и профессиональные консультации в любых, даже самых сложных случаях.</p>
      </div>



    </div>
  </section>
  <!-- Section -->

</div>
