<div class="container pt-5 pb-5">
  <h3 class="font-weight-bold black-text mb-4 pb-2 text-center wow zoomIn" data-wow-delay="0.6s">Android-приложение <span class="blue-text">Мобильный официант</span></h3>
  <div class="row">


    <div class="col order-1 wow fadeInRight" data-wow-delay="0.6s">

      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-signal fa-2x green-text pr-2"></i>
          Рост прибыли на 20%
        </h6>
        <p class="text-muted">
          Отсутствие бессмысленной беготни официантов – больше обслуженных клиентов – больше прибыли
        </p>
      </div>
      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-sync fa-2x green-text pr-2"></i> Обратная связь
      </h6>
      <p class="text-muted">
        Когда заказ готов, повар/бармен отмечает его на сенсорном мониторе, о чем официанту мгновенно приходит уведомление на смартфон
      </p>

    </div>


    <div class="col-lg-6 order-3 wow fadeInLeft" data-wow-delay="0.6s">
      <img class="img-fluid" src="assets/complect/hone/Flagman-mobil.jpg" alt="Sample image">

    </div>



    <div class="col order-2 wow fadeInRight" data-wow-delay="1.2s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-mobile-alt fa-2x green-text pr-2"></i>
          Работает на Android
        </h6>
        <p class="text-muted">
          Приложение устанавливается на любой Android планшет или смартфон через Google Play Market

        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-clock fa-2x green-text pr-2"></i> Быстрая обработка заказов
      </h6>
      <p class="text-muted">
        Заказы, оформленные в приложении, мгновенно передаются на монитор или принтер, установленный на кухне/баре
      </p>



    </div>

  </div>




</div>























