<!--Section: Features v.1-->
<section class="text-center " xmlns:color="http://www.w3.org/1999/xhtml">
  <div class="container text-center ">
    <!--Grid row-->
    <div class="row pt-5 flex-center">

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>

        <h4 class="font-weight-bold mt-4 red-text">27 лет</h4>
        <p class="font-weight-bold blue-text">Опыт работы</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="font-weight-bold mt-4 red-text">Больше 500</h4>
        <p class="font-weight-bold blue-text">Автомобильных весов</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="font-weight-bold mt-4 red-text">Больше 100</h4>
        <p class="font-weight-bold blue-text">Вагонных весов</p>
      </div>
      <!--Grid column-->

    </div>





  </div>


</section>
<!--Section: Features v.1-->
