<div class="container gotop mt-5">
  <section class="dark-grey-text mb-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4 order-2 wow zoomIn" data-wow-delay="0.6s">



        <!--Form with header-->
        <mdb-card>

          <mdb-card-body>
            <!--Header-->
            <div class="form-header ">
              <h3>
                <mdb-icon fas icon="envelope wow zoomIn" data-wow-delay="0.6s"></mdb-icon> Напишите нам:</h3>
            </div>

            <p class=" wow zoomIn" data-wow-delay="0.6s">Не стесняйтесь задавать нам вопросы</p>
            <br>

            <!--Body-->
            <div class="md-form">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form3" class="form-control">
              <label for="form3">Your name</label>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form2" class="form-control">
              <label for="form2">Your email</label>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form32" class="form-control">
              <label for="form34">Subject</label>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
              <textarea mdbInput type="text" id="form8" class="md-textarea"></textarea>
              <label for="form8">Message</label>
            </div>

            <div class="text-center">
              <button mdbBtn color="light-blue" class="waves-light" mdbWavesEffect>Submit</button>
            </div>

          </mdb-card-body>

        </mdb-card>
        <!--Form with header-->


      </div>
      <!-- Grid column -->





      <!-- Grid column -->
      <div class="col-lg-7 order-1">
        <!-- Section heading -->
        <h3 class="font-weight-bold text-left mb-4 wow fadeInLeft" data-wow-delay="0.6s">ЦЕНТРАЛЬНЫЙ ОФИС</h3>
        <!-- Section description -->
        <p class="text-left  pb-0 wow fadeInLeft" data-wow-delay="0.6s">MD2005, Республика Молдова, мун. Кишинев, ул. Ион Прункул, 4/1</p>

        <!-- Buttons-->
        <div class="row ">


          <div class="col-lg-6 mb-4">
            <ol class="step pl-0 pt-0">
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
                <div class="step-number ">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
                </div>
                <div class="step-excerpt">
                  <h6 class="font-weight-bold black-text  pt-0">EMAIL</h6>
                  <p>office@alex-se.com</p>
                </div>
              </li>
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
              <div class="step-number pt-4">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
              </span>
              </div>
              <div class="step-excerpt pt-0">
                <h6 class="font-weight-bold black-text  pt-3">ОФИС</h6>
                <p>(+37322) 244-572</p>
              </div>
            </li>
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
                <div class="step-number pt-4">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
              </span>
                </div>
                <div class="step-excerpt pt-0 wow zoomIn" data-wow-delay="0.6s">
                  <h6 class="font-weight-bold black-text  pt-3">ТЕХПОДДЕРЖКА ПРОМЫШЛЕННОГО ОБОРУДОВАНИЯ</h6>
                  <p>(+373) 69900989 </p>
                </div>
              </li>
            </ol>
          </div>








          <div class="col-lg-6 mb-4">
            <ol class="step pl-0 pt-0">
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
                <div class="step-number ">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-print fa-stack-1x fa-inverse"></i>
              </span>
                </div>
                <div class="step-excerpt">
                  <h6 class="font-weight-bold black-text  pt-0">ФАКС</h6>
                  <p>(+37322) 29-67-29</p>
                </div>
              </li>
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
                <div class="step-number pt-4">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-cog fa-stack-1x fa-inverse"></i>
              </span>
                </div>
                <div class="step-excerpt pt-3">
                  <h6 class="font-weight-bold black-text  pt-0">СЕРВИСНЫЙ ЦЕНТР</h6>
                  <p>(+37322) 24-30-87</p>
                </div>
              </li>
              <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
                <div class="step-number pt-4">
              <span class="fa-stack fa-2x blue  blue-text">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
              </span>
                </div>
                <div class="step-excerpt pt-3">
                  <h6 class="font-weight-bold black-text  pt-0">ТЕХПОДДЕРЖКА АВТОМАТИЗАЦИИ ТОРГОВЛИ И ОБЩЕПИТА</h6>
                  <p>(+373) 60001103</p>
                </div>
              </li>
            </ol>
          </div>











        </div>
        <h3 class="font-weight-bold text-center mb-4 wow fadeInLeft" data-wow-delay="0.6s">ТЕХПОДДЕРЖКА БЕЗ ВЫХОДНЫХ</h3>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
<!--Section: Content-->

<div class="container">
<div class="row d-flex justify-content-center">

  <div class="col-md-5 col-lg-5 col-xl-3 wow zoomIn" data-wow-delay="1.6s">
    <h5 class="font-weight-bold border-bottom border-secondary pt-4 mb-4"><a class="dark-grey-text" href="#">МАГАЗИН ТИРАСПОЛЬ</a></h5>
    <div class="wpb_wrapper"><h5 style="text-align: left" class="vc_custom_heading"></h5><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_3 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_chino"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
    </div>
      <div class="wpb_single_image wpb_content_element vc_align_left">

        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
        </figure>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>MD-3300, ПМР, г. Тирасполь,<br>
            ул. Профсоюзов 60, оф 101<br>
            <span style="color: #ffffff;">.</span></p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>e-mail: office@alex-se.com<br>
            e-mail: PMR@alex-se.md<br>
            Телефон: (533) 675 40<br>
            Моб: (775) 97 555</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>Режим работы:<br>
            Пн – Пт с 8-00 до 18-00<br>
            Сб – Вс и выходные дни</p>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3 wow zoomIn" data-wow-delay="1.6s">
    <h5 class="font-weight-bold border-bottom border-secondary pt-4 mb-4"><a class="dark-grey-text"
                                                                            href="#">МАГАЗИН МУН. БЕЛЬЦЫ</a></h5>
    <div class="wpb_wrapper"><h5 style="text-align: left" class="vc_custom_heading"></h5><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_3 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_chino"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
    </div>
      <div class="wpb_single_image wpb_content_element vc_align_left">

        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
        </figure>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>MD-3121, Республика Молдова,<br>
            мун. Бельцы, ул. Киев 145<br>
            <span style="color: #ffffff;">.</span></p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>e-mail: nord@alex-se.com<br>
            Телефон: (+373231) 40-456<br>
            Факс: (+373231) 44-345<br>
            Моб: (+373) 69966679, (+373) 68160101</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>Режим работы:<br>
            Пн – Пт с 8-00 до 18-00<br>
            Сб – Вс и выходные дни</p>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3 wow zoomIn" data-wow-delay="1.6s">
    <h5 class="font-weight-bold border-bottom border-secondary pt-4 mb-4"><a class="dark-grey-text"
                                                                            href="#">МАГАЗИН МУН. КОМРАТ</a></h5>
    <div class="wpb_wrapper"><h5 style="text-align: left" class="vc_custom_heading"></h5><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_3 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_chino"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
    </div>
      <div class="wpb_single_image wpb_content_element vc_align_left">

        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
        </figure>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>MD-3805, Республика Молдова,<br>
            АТО Гагаузия, мун. Комрат,<br>
            ул. Победы 43</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>e-mail: nord@alex-se.com<br>
            Телефон: (+373231) 40-456<br>
            Факс: (+373231) 44-345<br>
            Моб: (+373) 69966679, (+373) 68160101</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>Режим работы:<br>
            Пн – Пт с 8-00 до 18-00<br>
            Сб – Вс и выходные дни</p>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-lg-4 col-xl-3 wow zoomIn" data-wow-delay="1.6s">
    <h5 class="font-weight-bold border-bottom border-secondary pt-4 mb-4"><a class="dark-grey-text"
                                                                            href="#">МАГАЗИН Г. ДРОКИЯ</a></h5>
    <div class="wpb_wrapper"><h5 style="text-align: left" class="vc_custom_heading"></h5><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_3 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_chino"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
    </div>
      <div class="wpb_single_image wpb_content_element vc_align_left">

        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
        </figure>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>MD-5202, Республика Молдова,<br>
            г. Дрокия, ул. Гуданов, (Piaţa nouă),<br>
            бут. 20</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>e-mail: drochia@alex-se.com<br>
            Моб.: (+373) 68650707<br>
            <span style="color: #ffffff;">.</span><br>
            <span style="color: #ffffff;">.</span></p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>Режим работы:<br>
            Пн – Пт с 8-00 до 18-00<br>
            Сб – Вс и выходные дни</p>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-lg-4 col-xl-3  wow zoomIn" data-wow-delay="1.6s">
    <h5 class="font-weight-bold border-bottom border-secondary pt-4 mb-4"><a class="dark-grey-text"
                                                                            href="#">МАГАЗИН УКРАИНА</a></h5>
    <div class="wpb_wrapper"><h5 style="text-align: left" class="vc_custom_heading"></h5><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_3 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_chino"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
    </div>
      <div class="wpb_single_image wpb_content_element vc_align_left">

        <figure class="wpb_wrapper vc_figure">
          <div class="vc_single_image-wrapper   vc_box_border_grey"></div>
        </figure>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>MD-3300, ПМР, г. Тирасполь,<br>
            ул. Профсоюзов 60, оф 101<br>
            <span style="color: #ffffff;">.</span></p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>e-mail: office@alex-se.com<br>
            e-mail: PMR@alex-se.md<br>
            Телефон: (533) 675 40<br>
            Моб: (775) 97 555</p>

        </div>
      </div>

      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <p>Режим работы:<br>
            Пн – Пт с 8-00 до 18-00<br>
            Сб – Вс и выходные дни</p>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-9 wow zoomIn" data-wow-delay="1.6s">
  <!--Google map-->
  <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.409922412399!2d28.833268315432562!3d47.03218651284877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c4b32635d1b%3A0x55a41cd8fa072219!2sAlex%20S%26E!5e0!3m2!1sru!2s!4v1576842217558!5m2!1sru!2s" frameborder="0"
            style="border:0" allowfullscreen></iframe>
  </div>
  </div>

</div>

</div>


  <style>
    .map-container-section {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container-section iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }



  .fa-play:before {
    margin-left: .3rem;
  }

  /* Steps */
  .step {
    list-style: none;
    margin: 0;
  }

  .step-element {
    display: flex;
    padding: 1rem 0;
  }

  .step-number {
    position: relative;
    width: 7rem;
    flex-shrink: 0;
    text-align: center;
  }

  .step-number .number {
    color: #bfc5ca;
    background-color: #eaeff4;
    font-size: 1.5rem;
  }

  .step-number .number {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

  .number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 10rem;
  }

  .step-number::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: -2rem;
    margin-left: -1px;
    border-left: 2px dashed #fff;
  }

  .step .step-element:last-child .step-number::before {
    bottom: 1rem;
  }
</style>
