<section class="container pt-5">
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">Автомобильные весы - это то, без чего, невозможно обойтись на любом предприятии, где используется транспорт для приема, отпуска или перевозки грузов. Взвешивание автомобиля на весах практически исключает потери при учете продукции.</span> <br>
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">Компания Alex S&E выпускает автомобильные весы с бетонной и металлической платформой, стационарные и мобильные, для взвешивания, как в статике, так и в движении. Размеры, тип и комплектация весов могут отличаться в зависимости от задач, места установки и транспорта, который необходимо взвешивать.</span> <br>
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">Программное обеспечение, поставляемое вместе с весами, послужит незаменимым помощником оператору или позволит взвешивать автомобиль в автоматическом режиме, без участия оператора вообще, а это в свою очередь сведет к нулю ошибки, связанные с человеческим фактором.</span> <br>
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">При проектировании и производстве весов, мы уделяем большое внимание надежности и качеству продукции. Отсутствие сбоев в работе оборудования позволяет нашим клиентам работать с выгодой, без затрат на простои, ремонт или приобретение новых весов.</span> <br>
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">Многие предприятия в Молдове, Украине, России, Казахстане уже более 25 лет с успехом используют весы производства Alex S&E. Наша продукция применяется на складах, металлобазах, ЖБИ, ГОКах, элеваторах, в карьерах, на временных пунктах, например, при изготовлении дорог, для контроля нагрузки на ось и соответственно нагрузки на дорожное полотно.</span> <br>
  <span class="text-black wow zoomIn" data-wow-delay="0.3s">В компании Alex S&E вы всегда можете приобрести весы для взвешивания грузовых автомобилей по лучшей цене. Наши специалисты быстро и профессионально проконсультируют Вас, по поводу выбора автомобильных весов и дадут рекомендации, помогут определить оптимальное место установки весов.</span> <br>


      <div class="row pt-5 pb-5 flex-center">


        <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInLeft" data-wow-delay="0.3s">
          <div class="avatar white d-flex justify-content-center align-items-center">

            <a [routerLink]="'/certifications'">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
              <img
                src="assets/industrial/cert1.jpg"
                class="img-fluid z-depth-1"
              />
            </a>
          </div>
          <div class="text-center mt-4">
            <p class="font-weight-bold mb-lg-0">
              Автомобильные весы Alex S&E типа – BSA, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова
            </p>
          </div>
        </div>






        <div class="col-lg-6 col-md-6 mb-md-0 mb-4 pt-1 wow fadeInRight" data-wow-delay="0.3s">
          <div class="avatar white d-flex justify-content-center align-items-center">
            <a [routerLink]="'/certifications'">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
              <img
                src="assets/industrial/cert2.jpg"
                class="img-fluid z-depth-1"
              />
            </a>
          </div>
          <div class="text-center mt-4">
            <p class="font-weight-bold mb-0">
              Автомобильные весы Alex S&E типа – BDA, соответствуют стандарту SM STB 1845:2011 «Весы электронно-тензометрические для взвешивания транспорта в движении». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
            </p>
          </div>
        </div>
      </div>


</section>
