<section class="container pt-5 wow zoomIn" data-wow-delay="0.3s">
  <div style="font-family: 'Times New Roman'">
    <h5>
      Автомобильные весы - это то, без чего, невозможно обойтись на любом предприятии, где используется транспорт для приема, отпуска или перевозки грузов. Взвешивание автомобиля на весах практически исключает потери при учете продукции.<br>
      Компания Alex S&E, больше 27 лет,  выпускает автомобильные весы с бетонной и металлической платформой, стационарные и мобильные, для взвешивания, как в статике, так и в движении. Размеры, тип и комплектация весов могут отличаться в зависимости от задач, места установки и транспорта, который необходимо взвешивать.<br>
      Программное обеспечение, поставляемое вместе с весами, послужит незаменимым помощником оператору или позволит взвешивать автомобиль в автоматическом режиме, без участия оператора, что сведет к нулю ошибки, связанные с человеческим фактором.<br>
      При проектировании и производстве весов, мы уделяем большое внимание надежности и качеству продукции. Отсутствие сбоев в работе оборудования позволяет нашим клиентам работать с выгодой, без затрат на простои, ремонт или приобретение новых весов.<br>
      Многие предприятия в Молдове, Украине, России, Казахстане уже более 25 лет с успехом используют весы производства Alex S&E. Наша продукция применяется на складах, металлобазах, ЖБИ, ГОКах, элеваторах, в карьерах, на временных пунктах, например, при изготовлении дорог, для контроля нагрузки на ось и соответственно нагрузки на дорожное полотно.<br>
      В компании Alex S&E вы всегда можете купить весы для взвешивания грузовых автомобилей по лучшей цене. Наши специалисты быстро и профессионально проконсультируют Вас, по поводу выбора автомобильных весов, дадут рекомендации и помогут определить оптимальное место установки весов.<br>
    </h5>
  </div>

      <div class="row pt-5 pb-5 flex-center">


        <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInLeft" data-wow-delay="0.3s">
          <div class="avatar white d-flex justify-content-center align-items-center">

              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
              <img style="max-height: 300px"
                lightbox backgroundColor="white" src="assets/cert/bsaa.jpg"
                class="img-fluid z-depth-1"
              />
          </div>
          <div class="text-center mt-4">
            <p class="font-weight-bold mb-lg-0">
              Автомобильные весы Alex S&E типа – BSA, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова
            </p>
          </div>
          <div class="text-center mt-4">
            <p class="font-weight-bold mb-0">
              Автомобильные весы Alex S&E типа – BDA, соответствуют стандарту SM STB 1845:2011 «Весы электронно-тензометрические для взвешивания транспорта в движении». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
            </p>
          </div>
        </div>






<!--        <div class="col-lg-6 col-md-6 mb-md-0 mb-4 pt-3 wow fadeInRight" data-wow-delay="0.3s">-->
<!--          <div class="avatar white d-flex justify-content-center align-items-center">-->
<!--              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>-->
<!--&lt;!&ndash;              <img style="max-height: 300px"&ndash;&gt;-->
<!--&lt;!&ndash;                lightbox backgroundColor="white" src="assets/cert/bda.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;                class="img-fluid z-depth-1"&ndash;&gt;-->
<!--&lt;!&ndash;              />&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="text-center mt-4">-->
<!--            <p class="font-weight-bold mb-0">-->
<!--              Автомобильные весы Alex S&E типа – BDA, соответствуют стандарту SM STB 1845:2011 «Весы электронно-тензометрические для взвешивания транспорта в движении». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
      </div>


</section>
