

  <!--Section: Content-->

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2   wow zoomIn" data-wow-delay="0.6s">ПРОГРАММА ДЛЯ РОЗНИЧНОГО <p> МАГАЗИНА – ФУНКЦИОНАЛ</h2>




    <div  class="d-none d-lg-block">
    <div class="container d-flex justify-content-between wow zoomIn" data-wow-delay="0.6s">
    <!-- Grid row -->
      <!-- Grid column -->

      <div class="col-lg-3">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2 pt-1">
            <i class="fas fa-2x  fa-film blue-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10 pt-1">
            <h5 class="font-weight-bold mb-3">Кассовое место</h5>
            <p class="black-text ">Простой интерфейс программы позволяет оформлять продажи в считанные секунды, что обеспечивает быстрое обслуживание</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->



        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2 pt-1">
            <i class="fas fa-2x  fa-film blue-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10 pt-1">
            <h5 class="font-weight-bold mb-3">Номенклатура</h5>
            <p class="black-text">Неограниченное количество полей-характеристик товара: наценка, дата прихода, срок годности, минимальный остаток и т.п.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

      <div class="col-lg-1 pt-5  d-none d-md-block">
      </div>

      <!-- Grid column -->
      <div class="col-lg-4 pt-5 flex-center">
        <img class="img-fluid" src="assets/alexmarket/Logo AlexMarket PrintScreen.png"
             lightbox backgroundColor="white"
             alt="Sample image">
      </div>

      <div class="col-md-1 pt-5  ">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 ">


        <!-- Grid row -->
        <div class="row mb-3 ">

          <!-- Grid column -->
          <div class="col-1 pt-1 mr-4">
            <i class="fas fa-2x  fa-film blue-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-8 pt-1 ">
            <h5 class="font-weight-bold mb-3 p">Работа с остатками</h5>
            <p class="black-text">Удобный и точный контроль остатков для отслеживания актуального наличия продуктов на складе в любое время и выведения накладных</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1 pt-1 mr-4">
            <i class="fas fa-2x  fa-film blue-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-8 pt-1">
            <h5 class="font-weight-bold mb-3">Аналитика</h5>
            <p class="black-text">Отчеты по продажам в разрезе чеков, товаров, дисконтов и пр. за любой период. Отчеты по лидерам/аутсайдерам продаж, сезонным колебаниям спроса и другие</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->




      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->
</div>





<div class="container 	d-block d-lg-none">

  <div class="col-lg-3">

    <!-- Grid row -->
    <div class="row mb-3">

      <!-- Grid column -->
      <div class="col-2 pt-1">
        <i class="fas fa-2x  fa-film blue-text"></i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-10 pt-1">
        <h5 class="font-weight-bold mb-3">Кассовое место</h5>
        <p class="black-text">Простой интерфейс программы позволяет оформлять продажи в считанные секунды, что обеспечивает быстрое обслуживание</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->



    <!-- Grid row -->
    <div class="row mb-3 wow zoomIn" data-wow-delay="0.6s">

      <!-- Grid column -->
      <div class="col-2 pt-1">
        <i class="fas fa-2x  fa-film blue-text"></i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-10 pt-1">
        <h5 class="font-weight-bold mb-3">Номенклатура</h5>
        <p class="black-text">Неограниченное количество полей-характеристик товара: наценка, дата прихода, срок годности, минимальный остаток и т.п.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Grid column -->

  <div class="col-lg-1 pt-5  d-none d-md-block">
  </div>

  <!-- Grid column -->
  <div class="col-lg-4 pt-5 flex-center">
    <img class="img-fluid" src="assets/alexmarket/2-screen2-600x456.png"
         alt="Sample image">
  </div>

  <div class="col-md-1 pt-5  ">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 ">


    <!-- Grid row -->
    <div class="row mb-3 ">

      <!-- Grid column -->
      <div class="col-1 pt-1 mr-4">
        <i class="fas fa-2x  fa-film blue-text"></i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-8 pt-1 ">
        <h5 class="font-weight-bold mb-3 p">Работа с остатками</h5>
        <p class="black-text">Удобный и точный контроль остатков для отслеживания актуального наличия продуктов на складе в любое время и выведения накладных</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row mb-3">

      <!-- Grid column -->
      <div class="col-1 pt-1 mr-4">
        <i class="fas fa-2x  fa-film blue-text"></i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-8 pt-1">
        <h5 class="font-weight-bold mb-3">Аналитика</h5>
        <p class="black-text">Отчеты по продажам в разрезе чеков, товаров, дисконтов и пр. за любой период. Отчеты по лидерам/аутсайдерам продаж, сезонным колебаниям спроса и другие</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->




  </div>
  <!-- Grid column -->


</div>












  <!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <div class="flex-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 container wow zoomIn" data-wow-delay="0.6s">
        <div class="col">
          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-2 pt-1">
              <i class="fas fa-2x  fa-film blue-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-10 pt-1">
              <h5 class="font-weight-bold mb-3">Совместимость</h5>
              <p class="black-text">Отчеты по продажам в разрезе чеков, товаров, дисконтов и пр. за любой период. Отчеты по лидерам/аутсайдерам продаж, сезонным колебаниям спроса и другие</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
        <div class="col">
          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-2 pt-1">
              <i class="fas fa-2x  fa-film blue-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-10 pt-1">
              <h5 class="font-weight-bold mb-3">Ценники и этикетки</h5>
              <p class="black-text">Печать ценников и этикетов непосредственно из программы, а также с помощью подключения к стороннему ПО</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
        <div class="col">
          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-2 pt-1">
              <i class="fas fa-2x  fa-film blue-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-10 pt-1">
              <h5 class="font-weight-bold mb-3">Дисконтные программы</h5>
              <p class="black-text">Скидочные карты, накопительные, сезонные и временные скидки на товары и категории. Продажа в долг</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
        <div class="col">
          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-2 pt-1">
              <i class="fas fa-2x  fa-film blue-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-10 pt-1">
              <h5 class="font-weight-bold mb-3">Складской учет</h5>
              <p class="black-text">Программа для учета товара в магазине позволяет отслеживать складские запасы в режиме реального времени, проводить инвентаризации, взаиморасчеты с поставщиками</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
      </div>
    </div>
  <!--Section: Content-->


