<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">
<div class="container">


  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">
        <div class="avatar mx-auto">
          <span [appStyle]="'blue'" class="fa-stack fa-4x" >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse  white-text"></i>
          </span>
        </div>
        <!--Content-->
        <h4  class="font-weight-bold dark-grey-text mt-4 ">Государственное учреждение</h4>
        <p  class="font-weight-normal dark-grey-text" >
          Работающее с населением и предприятиями.</p>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <span [appStyle]="'blue'" class="fa-stack fa-4x" >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-male fa-stack-1x fa-inverse  white-text"></i>
          </span>
        </div>
        <!--Content-->
        <h4  class="font-weight-bold dark-grey-text mt-4 ">Любая частная компания</h4>
        <p  class="font-weight-normal dark-grey-text" >
          Работающая в сфере услуг и общепита.</p>
        <!--Review-->

      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <span [appStyle]="'blue'" class="fa-stack fa-4x" >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-cog fa-stack-1x fa-inverse  white-text"></i>
          </span>
        </div>
        <!--Content-->
        <h4  class="font-weight-bold dark-grey-text mt-4 ">Сервисный центр</h4>
        <p  class="font-weight-normal dark-grey-text" >
          Работающее с населением и предприятиями.</p>
        <!--Review-->

      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
</div>

<div class="pt-5 flex-center wow bounceIn" data-wow-delay="0.6s">
<mdb-card  style="width: 1300px; height: 231px;">
  <!-- Card content -->
  <mdb-card-body cascade="true" class="pt-5 text-left bginfolist">

    <!--Title-->
    <mdb-card-title class="">
      <h4>
        <strong>Техническая поддержка 365/7</strong>
      </h4>
    </mdb-card-title>


    <mdb-card-text class="black-text -align-left">
      Наверное, одним из самых важных компонентов в бесперебойной работе заведения ― это надежная Служба <p> Поддержки.
      Нам очень хорошо понятно, что такое сломавшийся принтер в субботу вечером!
      Мы станем <p> надежным партнером Вашего заведения, чтобы оно могло обслуживать Ваших гостей без сбоев.
    </mdb-card-text>


  </mdb-card-body>

</mdb-card>

</div>
</section>
<!-- Section: Testimonials v.3 -->
