<div class="container pt-5 pb-5">
  <h3 class="font-weight-bold black-text mb-4 pb-2 text-center wow zoomIn" data-wow-delay="0.6s">Программа для автоматизации торговли Alex-Market</h3>
  <p class="font-weight-bold lead text-muted mx-auto mt-4 pt-2 mb-5 text-center wow zoomIn" data-wow-delay="1.6s">Интерфейс программы и ее основные возможности:</p>
  <div class="row">

    <div class="col order-1 wow fadeInRight" data-wow-delay="0.6s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-download fa-2x green-text pr-2"></i>
          Простая установка и настройка
        </h6>
        <p class="">
          Учетная программа легко устанавливается и предельно быстро внедряется
        </p>
      </div>
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-sort-amount-down fa-2x green-text pr-2"></i> Ввод товара
        </h6>
        <p class="">
          Товары вводятся как вручную с помощью кода, так и через сканер штрих кода
        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-th-list fa-2x green-text pr-2"></i> Любые товары
      </h6>
      <p class="">
        Система подходит для работы с любыми видами товаров: и штучными, и весовыми
      </p>

    </div>


    <div class="col-lg-6 order-3 wow fadeInLeft" data-wow-delay="0.6s">
      <img class="img-fluid" src="assets/alexmarket/Logo AlexMarket PrintScreen.png" lightbox backgroundColor="white" alt="Sample image">

    </div>



    <div class="col order-2 wow fadeInRight" data-wow-delay="1.2s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-credit-card fa-2x green-text pr-2"></i>
          Способы оплаты
        </h6>
        <p class="">
          Принимайте оплату как наличными, так и с помощью платежных карт
        </p>
      </div>
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-desktop fa-2x green-text pr-2"></i> Наглядный интерфейс
        </h6>
        <p class="">
          Интуитивно понятный интерфейс позволяет оформлять продажи за считанные секундыh
        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-print fa-2x green-text pr-2"></i>Печать
      </h6>
      <p class="">
        Напрямую из программы можно распечатать бумажный ценник или самоклеющуюся этикетку
      </p>




    </div>

  </div>




</div>
























