<div class="container mt-5">


  <!--Section: Content-->
  <section>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-8 mb-4 align-self-center text-center text-lg-left wow fadeInLeft" data-wow-delay="0.6s">
        <h6>Зал ресторана</h6>
        <h3>Стационарный модуль для официантов/барменов</h3>
        <p style="text-align: justify;">Мы не сторонники универсальных модулей. Монитор стационарного POS-терминала позволяет создавать удобные, интуитивно понятные интерфейсы без необходимости для каждой операции открывать отдельное окно.</p>



        <h6>Зал ресторана</h6>
        <h3>Мобильный модуль для официантов.</h3>
        <p style="text-align: justify;">Модуль позволяет работать с заказом на смартфоне или планшете. Синхронизация с центральной базой происходит по WiFi или 3/4g. Постоянное присутствие в зоне связи не обязательно, устройство может работать автономно до момента отправки заказа на печать. При помощи мобильных устройств можно разделить официантов на «говорящих» и подносящих тарелки. Официант со смартфоном не привязан к залу ресторана, в котором находится стационарная станция, может обслуживать гостей на открытой террасе. Наличие в смартфоне NFC-модуля позволяет идентифицировать гостя по бесконтактной карте.</p>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 mb-4 wow fadeInRight" data-wow-delay="0.6s">

        <!-- Featured image -->
        <div class="view overlay">
          <img class="img-fluid mx-auto" src="assets/auto/restourant/oficiant1.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
