<section class="pb-5">
  <div class="container text-center">

    <!--Section heading-->
    <h2 class="text-center h1 py-3">
      <strong>Сертификаты</strong>
    </h2>


    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light  wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/am.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light    wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/az.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light    wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/bcn.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->


      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light    wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/bda.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->



      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light    wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/bsn.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->


      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-1">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light    wow zoomIn" data-wow-delay="0.6s" mdbWavesEffect>
          <img src="assets/cert/bxn.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="pt-3">
    <button [routerLink]="'/certifications'" class=" " mdbBtn type="button" color="primary"  mdbWavesEffect>Посмотреть все сертификаты</button>
    </div>
  </div>
</section>
<!--/Projects section v.1-->
