<div class="pt-4">
  <h3>{{isNew ? 'Добавить' : 'Редактировать'}} пандус</h3>
  <app-alert></app-alert>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="md-form">
      <input
        formControlName="name"
        mdbInput
        type="text"
        id="name"
        class="form-control"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched }"
      >

      <label for="name" class="">Название пандуса</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('name').invalid && form.get('name').touched"
      >
  <span *ngIf="form.get('name').errors['required']">
    Название  не может быть пустым
  </span>
  </span>
    </div>




















    <div class="flex-center">
      <img
        class="responsive-img"
        style="height: 200px"
        [src]="imagePreview"
        *ngIf="imagePreview"
      >
    </div>

    <div class="file-field md-form">
      <h6>Загрузить картинку</h6>
      <div>
        <input
          type="file"
          class="d-none"
          #input
          (change)="onFileUpload($event)"
        >


        <button
          (click)="triggerClick()"
          [disabled]="form.disabled"
          type="button"
          mdbBtn
          color="orange"
          mdbWavesEffect
        >
          Загрузить изображение
        </button>
      </div>
    </div>







    <div class="pt-4">
      <label>Описание</label>
      <quill-editor formControlName="content"></quill-editor>
    </div>
















    <div class="md-form">
      <input
        class="form-control"
        id="price"
        type="number"
        min="0"
        mdbInput
        formControlName="price"
        [ngClass]="{'invalid': form.get('price').invalid && form.get('price').touched }"
      >
      <label for="price">Цена</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('price').invalid && form.get('price').touched"
      >
    Введите корректную цену. Минимальное значение 0
  </span>
    </div>


    <button
      [disabled]="form.invalid || form.disabled"
      type="submit"
      mdbBtn color="primary"
      mdbWavesEffect
    >
      Сохранить изминения
    </button>

  </form>

</div>
