<!--Section: Features v.1-->
<section class="text-center " xmlns:color="http://www.w3.org/1999/xhtml">
  <div class="container text-center ">
  <!--Grid row-->
  <div class="row pt-3 flex-center">

    <!--Grid column-->
    <div class="col-md-2 mr-4 ml-1 wow fadeInUp" data-wow-delay="0.3s">
        <span class="fa-stack fa-2x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>

      <h5 class="font-weight-bold mt-4 blue-text">мы первые</h5>
      <p class="font-weight-bold blue-text">27 лет на рынке</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2 mr-4 ml-1 wow fadeInUp" data-wow-delay="0.3s">
        <span class="fa-stack fa-2x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
      <h5 class="font-weight-bold mt-4 blue-text">500 000+</h5>
      <p class="font-weight-bold blue-text">электронных весов</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2 mr-4 ml-1 wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-2x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
      <h5 class="font-weight-bold mt-4 blue-text">150 000+</h5>
      <p class="font-weight-bold blue-text">автомобильных весов</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2 mr-4 ml-1 wow fadeInDown" data-wow-delay="0.3s">
        <span class="fa-stack fa-2x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
      <h5 class="font-weight-bold mt-4 blue-text">500+</h5>
      <p class="font-weight-bold blue-text">автоматизации общепита</p>
    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-md-2 mr-4 ml-1 wow fadeInDown" data-wow-delay="0.3s">
        <span class="fa-stack fa-2x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse "></i>
        </span>
      <h5 class="font-weight-bold mt-4 blue-text">150+</h5>
      <p class="font-weight-bold blue-text">промышленных предприятий</p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->





  <div class="row pt-3 flex-center" >
    <!-- Card -->
    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.6s">

    <mdb-card
      style="background-image: url('assets/blog1.jpg')"
      class="card-image mb-3 mx-2 bgwhy"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" >
        <div>
          <h3 class="white-text">
            <mdb-icon fas icon="certificate"></mdb-icon>
            Только сертифицированные продукты
          </h3>


          <a mdbBtn color="blue" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon>
            Сертификаты</a
          >
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="col-lg-5">

    <mdb-card
      style="background-image: url('assets/blog2.jpg')"
      class="card-image mb-3 mx-2 bgwhy wow fadeInRight" data-wow-delay="0.6s"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h3 class="white-text">
            <mdb-icon fas icon="headset"></mdb-icon>
            365/7 Бесплатная техническая поддержка
          </h3>

          <a routerLink="/support-service" mdbBtn color="blue" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon>
            Тех.поддержка</a
          >
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    </div>
    <!-- Card -->
  </div>

  </div>


</section>
<!--Section: Features v.1-->
