<div  class="container pb-5">

  <div *ngIf="!loading; else loader" >
    <div *ngIf="posts.length !== 0; else empty" class="pt-5">
      <div class="pb-3">
        <input class="form-control" type="text" placeholder="Найти пост...">
      </div>
      <table  mdbTable class="z-depth-1" >
        <thead class="black white-text">
        <tr >
          <th>#</th>
          <th>Название</th>
          <th>Дата</th>
          <th>Категория</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>

        <tr  *ngFor="let post of posts  let idx = index">
          <td>{{idx + 1}}</td>
          <td>{{post.title}}</td>
          <td>{{post.date  | date:'medium': null: 'ru' }}</td>
          <div *ngFor="let category of categorys">
            <td  *ngIf="category._id == post.category" >{{category.name}}</td>
          </div>
          <td>
            <a
              class="btn-primary text-white btn-link mr-3"
              [routerLink]="['/admin/create-post',  post._id]"
            >
              Открыть
            </a>
            <a  class="red-text" (click)="deletePost(post._id)" >Удалить</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <p class="text-center">В категории позиции нет</p>
    </ng-template>
  </div>
  <ng-template #loader >
    <app-loader></app-loader>
  </ng-template>


</div>















