<div class="md-form input-group">
  <div class="input-group-prepend pr-3">
    <input type="number" id="number" min="1"  class="form-control" placeholder="Номер заказа">
  </div>
  <div class="input-group-prepend pr-3">
  <input type="text" aria-label="First name" class="form-control datepicker" placeholder="Начало">
  </div>
  <div class="input-group-prepend pr-3">
  <input type="text" aria-label="Last name" class="form-control datepicker" placeholder="Конец">
  </div>
</div>
<div class="pb-3">
<button mdbBtn type="button" color="default" mdbWavesEffect>Применить фильтр</button>
</div>
