<div class="view">
  <div style="height: 585px;" class="bgprograms wow zoomIn" data-wow-delay="0.1s">
  </div>
  <div class="mask">
    <div class="pone">
      <mdb-card-body cascade="true" class="text-center ">
        <!--Title-->
        <mdb-card-title>
          <h1>
            <strong class="black-text wow fadeInDown" data-wow-delay="1.0s" >ПРОГРАММНОЕ ОБЕСПИЧЕНИЕ</strong>
          </h1>
        </mdb-card-title>

        <mdb-card-text class="black-text pt-5">
          <h5 class=" wow fadeInDown" data-wow-delay="2.6s">Комплексная автоматизация сферы обслуживания и <p>общепита на базе специализированных программных продуктов.
          </h5>
        </mdb-card-text>
      </mdb-card-body>
    </div>
  </div>
</div>











