select {
  height: 30px;
  line-height: 50px;
  font-size: 12pt;
}


.my-translated-paragraph{
  white-space: pre-wrap;
}

.navbar-brand-my {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 0.90rem;
  line-height: inherit;
  white-space: nowrap;
}

