<div class="bgindustrial">
<div class="container pt-5">


  <!--Section: Content-->
  <section>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-7 mb-3 align-self-center text-center text-lg-left">

        <h1 class="h2 mb-5">Стационарные автомобильные весы</h1>
        <h6 class="mb-4">Весы предназначены для статического взвешивания большегрузных автомобилей с полным заездом на платформу при интенсивном потоке, в том числе в сложных условиях эксплуатации.</h6>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5 mb-4">

        <!-- Featured image -->
        <div class="view overlay">
          <img class="img-fluid rounded-circle mx-auto" src="assets/industrial/1.png" alt="Sample image">

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
</div>
