<div class="container">

  <!-- Section -->
  <section>

    <style>
      .border-top {
        border-top-width: 2px !important;
      }
    </style>


    <div class="row">

      <div class="col-md-6 col-lg-5 col-xl-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#"></a></h5>
          <p>Благодаря развитию сети представительств и филиалов, продукция «Alex S&amp;E» стала известна не только на территории Молдовы, но и за рубежом.<br>
            Главный офис компании расположен в г. Кишиневе. Еще два филиала действуют в Москве (Россия) и Харькове (Украина).</p>
          <p>За 27 лет нашими клиентами стали предприятия самых различных отраслей промышленности, таких как металлургическая, нефтеперерабатывающая и газовая, горнодобывающая и перерабатывающая, мясомолочная, а также хлебопекарные, комбикормовые, маслоэкстракционные, табакоферментные, пивоваренные заводы, заводы по производству керамики, фарфора и стекла, предприятия торговой и транспортной сети.</p>
          <p>Вся продукция компании сертифицирована и внесена в Государственные Реестры Республики Молдова, Белорусии, Украины, Казахстана и Российской Федерации.</p>

      </div>

      <div class="col-md-6 col-lg-5 col-xl-6 wow fadeInRight" data-wow-delay="0.6s">
        <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#"></a></h5>

          <p>Инженеры и программисты компании <strong>„Alex S&amp;E”</strong> непрерывно следят за тенденциями в развитии промышленности и торговли с тем, чтобы предложить нашим клиентам весоизмерительное оборудование, соответствующее международным стандартам. Все специалисты регулярно проходят стажировку за рубежом.</p>
          <p>Компания наладила надежные партнерские связи лучшими зарубежными производителями метрологического, весо-измерительного оборудования, а также комплектующих для производства весов. Мы работаем с предприятиями из Голландии, Италии, Франции, Великобритании, Израиля.</p>
          <p><strong>Основные принципы, которых мы придерживаемся:</strong><br>
            • строгое соблюдение интересов Заказчика;<br>
            • использование комплектующих только лучших зарубежных производителей;<br>
            • гарантия на все комплектующие, оборудование и сервисное обслуживание на весь срок службы.</p>


      </div>



    </div>
  </section>
  <!-- Section -->

</div>
