<div class="container pl-0">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <ol class="step pl-0 pt-5">

        <li class="step-element pb-5 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number ">
            <img class="img-fluid mx-auto" src="assets/auto/fitnes/coaching.png">
          </div>
          <div class="step-excerpt">
              <h6>Тренер</h6>
              <h3>Мобильный модуль тренера</h3>
              <p style="text-align: justify;">Модуль для мобильного устройства позволяет тренеру отмечать посещение группового занятия, записывать клиента на индивидуальное занятие, продавать дополнительные услуги.</p>
              <p></p>
          </div>
        </li>

        <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number ">
            <img class="img-fluid mx-auto" src="assets/auto/fitnes/1-zamok-1.png">
          </div>
          <div class="step-excerpt">
              <h6>Контроль доступа</h6>
              <h3>Система контроля доступа</h3>
              <p style="text-align: justify;">Для ограничения доступа в помещения клуба в программе реализована система управления турникетами и другими электронными устройствами контроля доступа. Система способна разрешить доступ членам клуба только в те помещения, в которых осуществляется услуга, доступная по абонементу или по записи.</p>
              <p></p>
          </div>
        </li>




      </ol>
    </div>

    <div class="col-lg-6 mb-4">
      <ol class="step pl-0 pt-5">


        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number ">
            <img class="img-fluid mx-auto" src="assets/auto/fitnes/2-SKLAD.png">
          </div>
          <div class="step-excerpt">
              <h6>IV. Членам клуба</h6>
              <h3>WEB – сервис</h3>
              <p style="text-align: justify;">Сервис дает возможность члену клуба самостоятельно записываться на групповые тренировки, индивидуальные занятия, заказывать дополнительные услуги. Есть возможность контролировать взаиморасчеты с клубом, видеть остатки курсов услуг.</p>
              <p></p>
          </div>
        </li>



        <li class="step-element pb-0 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number ">
            <img class="img-fluid mx-auto" src="assets/auto/fitnes/2_KONTROL.png">
          </div>
          <div class="step-excerpt">
              <h6>Бухгалтерия</h6>
              <h3>Модуль управленческого учета</h3>
              <p style="text-align: justify;">Программа дает возможность вести полноценный управленческий материальный и финансовый учет. Материальный учет подразумевает весь цикл товарооборота: документы поставки товаров, перемещение, списание и переучет. Финансовый учет включает в себя движение наличных и безналичных денежных средств, авансовый отчет. Проработан механизм расчета заработной платы.</p>
              <p></p>
          </div>
        </li>






      </ol>
    </div>

  </div>
</div>




<style>
  .fa-play:before {
    margin-left: .3rem;
  }

  /* Steps */
  .step {
    list-style: none;
    margin: 0;
  }

  .step-element {
    display: flex;
    padding: 1rem 0;
  }

  .step-number {
    position: relative;
    width: 7rem;
    flex-shrink: 0;
    text-align: center;
  }

  .step-number .number {
    color: #bfc5ca;
    background-color: #eaeff4;
    font-size: 1.5rem;
  }

  .step-number .number {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

  .number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 10rem;
  }

  .step-number::before {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 48px;*/
    /*bottom: -2rem;*/
    /*margin-left: -1px;*/
    /*border-left: 2px dashed #fff;*/
  }

  .step .step-element:last-child .step-number::before {
    bottom: 1rem;
  }
</style>


























