<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/auto-index'">Автомобильные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">СТАЦИОНАРНЫЕ ДЛЯ ВЗВЕШИВАНИЯ НАГРУЗКИ НА ОСЬ</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">СТАЦИОНАРНЫЕ ДЛЯ ВЗВЕШИВАНИЯ<br> И НАГРУЗКИ НА ОСЬ</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">
            Весы электронные автомобильные стационарные BDA-15D1,4S, предназначены для определения нагрузки на дорожное полотно, создаваемое отдельной осью и определения общей массы грузов, перевозимых автомобильным транспортом, методом суммирования осей.</h5>        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 mb-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img class="img-fluid rounded-circle mx-auto" src="assets/industrial/static/logo.jpg" alt="Sample image">

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Процесс взвешивания можно производить как в статике, так и в динамике. При взвешивании в движении, весы дополнительно определяют скорость проезда автомобиля.<br>
        Установка платформы на мощном фундаменте вровень с дорожным покрытием, с предусмотренными подъездными путями, позволяет исключить влияние перепада высоты на показание веса, добиться высокой точности измерений и обеспечить длительный срок безотказной работы при высоких нагрузках.  Стационарные автомобильные весы BDA-15D1.4S имеют повышенный срок эксплуатации и хорошо зарекомендовали себя на предприятиях со сложными условиями эксплуатации.<br>


        <br>


      </h5>
    </div>

  </section>



  <div  class="container">




    <div lightbox-group class=" ">
      <div class="row ">
        <div class="col-6 py-1 my-1">
          <img lightbox class="img-fluid" src="assets/industrial/static/image003.png" alt="">
        </div>
        <div class="col-6 py-1 my-1">
          <img lightbox class="img-fluid" src="assets/industrial/static/image005.jpg" alt="">

        </div>
      </div>
      <div class="row">
        <div class="col-6 py-1 my-1">
          <img lightbox class="img-fluid" src="assets/industrial/static/image007.jpg" alt="">
        </div>
        <div class="col-6 py-1 my-1">
          <img lightbox class="img-fluid" src="assets/industrial/static/image009.jpg" alt="">
        </div>
      </div>

    </div>
  </div>


  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Результаты измерений сохраняются в энергонезависимой области памяти (минимум 400 последних измерений). Результаты взвешивания можно распечатывать на принтере (печать весового талона/протокола взвешивания) и экспортировать данные в учетную систему предприятия.
        Для подключения компьютера и возможности наращивания системы используется интерфейс RS232


      </h5>
    </div>
  </section>


    <section class="container">

    <div class="flex-center">
      <h3 class="pt-3 mb-3">Функциональные возможности:</h3>
    </div>


    <div class="d-flex justify-content-center">
      <ul class="mb-4">
        <li><h5>Взвешивание в статике и в динамике во время движения автомобиля</h5></li>
        <li><h5>Выборка массы тары</h5></li>
        <li><h5>Автоматический и ручной режимы взвешивания в движении</h5></li>

        <li><h5>Определение общей массы автомобиля</h5></li>
        <li><h5>Определение нагрузки на каждую ось</h5></li>
        <li><h5>Определение скорости движения автомобиля</h5></li>
        <li><h5>Возможность введения номерных знаков для регистрации автомобиля</h5></li>
        <li><h5>Архивирование результатов взвешивания – дата и время взвешивания,<br> общая масса автомобиля, значение нагрузки на каждую ось,<br> скорость движения автомобиля,<br> номерные знаки автомобиля</h5></li>
        <li><h5>Печать текущего результата взвешивания на термопринтере</h5></li>
        <li><h5>Возможность просматривать архив взвешиваний</h5></li>
        <li><h5>Возможность экспорта архива взвешиваний</h5></li>



      </ul>
    </div>

    <!--Grid row-->
    <div class="py-2 my-2">
      <div class="row flex-center">

        <!--Grid column-->
        <div class="col-md-4 col-lg-2 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
<!--            <img lightbox backgroundColor="white" src="assets/cert/bsn.jpg" class="img-fluid" alt="">-->
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">


          <h5 class="">Автомобильные весы Alex S&E типа – BDA, соответствуют стандарту SM STB 1845:2011
            «Весы электронно-тензометрические для взвешивания транспорта в движении».
            Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.</h5>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
      <h1 class="h2 text-center">Характеристики</h1>
      <div class="flex-center pb-2">
        <div class="col-lg-7">
          <!--      <img lightbox backgroundColor="white" src="assets/industrial/vagon/tech.png" class="img-fluid" alt="">-->
          <table mdbTable striped="true" bordered="true">
            <thead>
            </thead>
            <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
              <td class="">{{el.first}}</td>
              <td class="">{{el.last}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


  </section>



</div>
