<div class="container pt-5 pb-5">
  <div class="row">

    <div class="col order-1 wow fadeInLeft" data-wow-delay="1.2s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-search-plus fa-2x green-text pr-2"></i>
          Полный складской учет
        </h6>
        <p class="">
          Контроль остатков на складе в любое время, а также отчеты по складу за любую дату
        </p>
      </div>
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-money-bill-alt fa-2x green-text pr-2"></i> Кассовый контроль
        </h6>
        <p class="">
          Онлайн-доступ к статистике – контролируйте свой бизнес из любой точки с доступом к интернету
        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-lock fa-2x green-text pr-2"></i> Безопасность
      </h6>
      <p class="">
        Все действия пользователей фиксируются и отображаются в отчетах
      </p>

    </div>


    <div class="col-lg-6 order-3 wow fadeInRight" data-wow-delay="0.6s">
      <img class="img-fluid" src="assets/alexmarket/AlexMarket_Admin_Large_right.png" lightbox backgroundColor="white" alt="Sample image">

    </div>



    <div class="col order-2 wow fadeInLeft" data-wow-delay="0.6s">
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-indent fa-2x green-text pr-2"></i>
          Разграничение прав
        </h6>
        <p class="">
          Настройка прав доступа индивидуально для каждого сотрудника во избежание злоупотреблений
        </p>
      </div>
      <div class="pb-5">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-file-alt fa-2x green-text pr-2"></i> Работа с накладными
        </h6>
        <p class="">
          Любые виды накладных – все операции с товаром проводятся быстро и четко
        </p>
      </div>

      <h6 class="font-weight-bold mb-3">
        <i class="fas fa-list-alt fa-2x green-text pr-2"></i>Аналитика
      </h6>
      <p class="">
        Отчеты по продажам, движению товаров, сезонным колебаниям, сотрудникам и др.
      </p>




    </div>

  </div>




</div>
























