<!--Section: Content-->
<section class="container pt-2">
  <mdb-breadcrumb-item>
    <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Бункерные весы</mdb-breadcrumb-item>
  </mdb-breadcrumb-item>

  <h1 class="text-center font-weight-bold mb-4 pb-2 wow zoomIn" data-wow-delay="0.3s">Дозирующие системы</h1>


</section>
<!--Section: Content-->

<div class="container flex-center pt-4">

  <div class="row">

    <div class="col-lg-4">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half pb-4 wow fadeInLeft" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold " style="width: 700px;max-height: 330px" src="assets/industrial/bunker/1.jpg" alt="Sample image">
        <a [routerLink]="'/filling-batcher'">
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center">
          <h5 class="font-weight-bold">ФАСОВОЧНЫЙ ДОЗАТОР</h5>
        </div>

      </div>


    </div>
    <div class="col-lg-4">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half pb-4 wow zoomIn" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold " style="width: 700px; max-height: 330px" src="assets/industrial/bunker/2.jpg" alt="Sample image">
        <a [routerLink]="'/bunker-scales'">
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">БУНКЕРНЫЕ ВЕСЫ</h5>
        </div>

      </div>

    </div>


    <div class="col-lg-4">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half  wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold " style="width: 700px; max-height: 330px" src="assets/industrial/bunker/lll.jpg" alt="Sample image">
        <a [routerLink]="'/modern-bunker-scales'">
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">МОДЕРНИЗАЦИЯ БУНКЕРНЫХ ВЕСОВ</h5>
        </div>

      </div>

    </div>

    <div class="w-100"></div>

  </div>

</div>


<!--Section: Features v.1-->
<section class="text-center " xmlns:color="http://www.w3.org/1999/xhtml">
  <div class="container text-center ">
    <!--Grid row-->
    <div class="row pt-5 flex-center">

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>

        <h4 class="font-weight-bold mt-4 red-text">27 лет</h4>
        <p class="font-weight-bold blue-text">Опыт работы</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="font-weight-bold mt-4 red-text">Больше 200</h4>
        <p class="font-weight-bold blue-text">Бункерных весов</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 mr-4 ml-1 wow zoomIn" data-wow-delay="0.3s">
        <span class="fa-stack fa-3x ">
          <i class="fas fa-circle fa-stack-2x" style="color:#1288ba"></i>
          <i class="fas fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="font-weight-bold mt-4 red-text">Больше 50</h4>
        <p class="font-weight-bold blue-text">Дозировочно смесительных линий</p>
      </div>
      <!--Grid column-->

    </div>





  </div>


</section>
<!--Section: Features v.1-->


<section class="section pt-5">

  <!-- Featured image -->
  <div class="flex-center wow zoomIn" data-wow-delay="0.6s">
    <img src="assets/industrial/bg.jpg" class="img-fluid z-depth-1 rounded mb-4"
         alt="">
  </div>
</section>




<section class="container pt-2 wow zoomIn" data-wow-delay="0.3s">
  <div style="font-family: 'Times New Roman'">
    <h5>
      Без точного соблюдения рецептуры и технологии невозможно выпустить качественный продукт. Как правило, бункерные весы применяются для взвешивания сыпучих, мелкозернистых материалов и жидких компонентов (зерно, гранулированный комбикорм, крупы, вода, химдобавки), проходящих через весы, на производстве растворов и смесей, стекольных заводах, элеваторах и др.<br>
      Компания Alex S&E, больше 27 лет, производит бункерные весы для фасовки и для взвешивания продукта в потоке, с наибольшим пределом взвешивания от 50 килограмм до 5 тонн, с производительностью от 18 до 800 тонн/час. Размеры, тип и комплектация весов могут отличаться в зависимости от задач, места установки и продукта, который необходимо взвешивать.<br>
      Бункерные весы для взвешивания в потоке – идеальное решение для учета сыпучих или жидких компонентов, незаменимы на предприятиях, где для производства необходимо соблюдение рецептуры дозирования. Они предназначены для автоматического взвешивания порций материалов и измерения общей массы продукта, прошедшего через весы.<br>
      Фасовочные дозаторы – предназначены для легкой и быстрой расфасовки необходимого количества продукта в открытые или клапанные мешки, биг-бэги или другую тару.<br>
      Программное обеспечение, поставляемое вместе с весами, послужит незаменимым помощником оператору или позволит взвешивать продукцию в автоматическом режиме, без участия оператора, что в свою очередь сведет к нулю ошибки, связанные с человеческим фактором.<br>
      При проектировании и производстве весов, мы уделяем большое внимание надежности и качеству продукции. Отсутствие сбоев в работе оборудования позволяет нашим клиентам работать с выгодой, без затрат на простои, ремонт или приобретение новых весов.<br>
      Многие предприятия в Молдове, Украине, России, Казахстане уже более 25 лет с успехом используют весы производства Alex S&E. Наша продукция применяется на складах, металлобазах, ЖБИ, ГОКах, элеваторах, в карьерах, стекольных заводах.<br>
      В компании Alex S&E вы всегда можете приобрести бункерные весы и дозаторы по лучшей цене. Наши специалисты быстро и профессионально проконсультируют Вас, по поводу выбора автомобильных весов и дадут рекомендации, помогут определить оптимальное место установки весов.<br>

    </h5>
  </div>

  <div class="row pt-5 pb-5 flex-center">


    <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInLeft" data-wow-delay="0.3s">
      <div class="avatar white d-flex justify-content-center align-items-center">

        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        <img style="max-height: 300px"
             lightbox backgroundColor="white" src="assets/cert/bxn.jpg"
             class="img-fluid z-depth-1"
        />
      </div>
      <div class="text-center mt-4">
        <p class="font-weight-bold mb-lg-0">
          Бункерные весы Alex S&E типа – BXN, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
        </p>
      </div>
    </div>




    <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInRight" data-wow-delay="0.3s">
      <div class="avatar white d-flex justify-content-center align-items-center">

        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        <img style="max-height: 300px"
             lightbox backgroundColor="white" src="assets/cert/bsn.jpg"
             class="img-fluid z-depth-1"
        />
      </div>
      <div class="text-center mt-4">
        <p class="font-weight-bold mb-lg-0">
          Бункерные весы Alex S&E типа – BSN, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
        </p>
      </div>
    </div>



  </div>


</section>
