<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/industrial'">Автомобильные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">БОРТОВЫЕ СИСТЕМЫ ВЗВЕШИВАНИЯ</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">БОРТОВЫЕ СИСТЕМЫ ВЗВЕШИВАНИЯ</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">Бортовые системы взвешивания позволяют определить нагрузку на ось или группу осей и полную массу груза в кузове автомобиля. В зависимости от конфигурации подвески, точность составляет 1-3%.
          </h5>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 mb-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img class="img-fluid rounded-circle mx-auto" src="assets/industrial/board/logo.jpg" alt="Sample image">

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Универсальность системы позволяет в считанные часы устанавливать ее на грузовые автомобили и прицепы, в том числе на самосвалы и полуприцепы, как с пневматической, так и с механической подвеской.<br>
        После установки, система, в режиме реального времени, отображает текущую массу груза в кузове автомобиля, легко подключается к любому смартфону через Bluetooth, и оповестит водителя о перегрузе в случае необходимости.<br>
      </h5>
    </div>

  </section>





  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Результаты измерений сохраняются в энергонезависимой области памяти (минимум 400 последних измерений). Результаты взвешивания можно распечатывать на принтере (печать весового талона/протокола взвешивания) и экспортировать данные в учетную систему предприятия.<br>
        Для подключения компьютера и возможности наращивания системы используется интерфейс RS232

      </h5>
    </div>
  </section>


  <section class="container">


    <div class="container py-5 my-5">
      <section class="p-md-3 mx-md-5">
        <div class="row mb-5 d-flex align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">Характеристики модуля:</h4>
              </div>
              <div class="card-body">
                <ul class="mb-4">
                  <li><h6>Простой монтаж и калибровка</h6></li>
                  <li><h6>Отображает нагрузку на ось или группу осей</h6></li>
                  <li><h6>Измеряет вес во время движения</h6></li>
                  <li><h6>Возможность установить защищенный режим - PIN-код,<br>  для доступа к системе</h6></li>
                  <li><h6>Возможность наружной установки индикатора</h6></li>
                  <li><h6>Дисплей автоматически гаснет после 30 минут бездействия,<br> в это время данные продолжают накапливаться</h6></li>
                  <li><h6>Передача данных по Bluetooth</h6></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded">
              <img src="assets/industrial/board/module.jpg" class="img-fluid"
                   alt="Sample project image" />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-5 d-flex align-items-center justify-content-end">
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded">
              <img src="assets/industrial/board/222.jpg" class="img-fluid"
                   alt="Sample project image" />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">Бесплатное приложение RIGHT WEIGH:</h4>
              </div>
              <div class="card-body">
                <ul class="mb-4">
                  <li><h6>Демо-режим</h6></li>
                  <li><h6>Мультиязычность</h6></li>
                  <li><h6>Предупреждение о перегрузе</h6></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">Технические характеристики:</h4>
              </div>
              <div class="card-body">
                <ul class="mb-4">
                  <li><h6>Точность определения массы груза – 1-3%</h6></li>
                  <li><h6>Питание от бортовой сети: 9-32 V</h6></li>
                  <li><h6>Рабочая температура: -30°С - +60°С</h6></li>
                  <li><h6>Передача данных по BLUETOOTH</h6></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="view overlay rounded">
              <img src="assets/industrial/board/333.jpg" class="img-fluid"
                   alt="Sample project image" />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>









  </section>



</div>
