<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/wagon-index'">Вагонные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">МОДЕРНИЗАЦИЯ ВАГОННЫХ ВЕСОВ</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">МОДЕРНИЗАЦИЯ ВАГОННЫХ ВЕСОВ</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">Модернизация механических вагонных весов позволяет добиться уменьшения расходов на эксплуатацию, продления срока службы и улучшения функциональных возможностей, за счёт замены механической системы измерения веса на электронную и внедрения автоматизированного учета.
          </h5>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 mb-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img class="img-fluid rounded-circle mx-auto" src="assets/industrial/vagon/logo2.jpg" alt="Sample image">
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <section class="container">
    <div style="font-family: 'Times New Roman'">
      <h4 class="black-text">
        При модернизации весов рычажная измерительная система меняется на тензометрическую с сохранением существующей платформы.
      </h4>

      <!-- Featured image -->
      <div class="view overlay">
        <img class="img-fluid" src="assets/industrial/modern/1.jpg" alt="Sample image">

      </div>
    </div>

  </section>




  <section class="container pt-3">
    <div style="font-family: 'Times New Roman'">
      <h4 class="black-text">
        Стрелочный индикатор при этом заменяется на электронный индикаторный блок, с возможностью подключения к компьютеру.
      </h4>
    </div>

    <!-- Featured image -->
    <div class="view overlay">
      <img class="img-fluid" src="assets/industrial/modern/3.jpg" alt="Sample image">

    </div>
  </section>





  <section class="container pt-3">
    <div style="font-family: 'Times New Roman'">
      <h5 class="black-text">
        Для модернизации вагонных весов, мы используем самые надежные, проверенные временем комплектующие.<br>
        Электронный индикаторный блок MERAV 2000 подключается к компьютеру посредством интерфейса RS232. Для автономной работы, при перебоях с электропитанием, индикаторный блок имеет встроенный аккумулятор и подсветку дисплея. Показания веса на дисплее легко читаются с расстояния в несколько метров.<br>
        Датчики в весах имеют степень защиты от пыли и влаги IP68, что по сути, позволяет им работать даже в воде, и защищены от разрядов молнии. Рабочий температурный диапазон датчиков от -30°С до +45°С. При необходимости устанавливать весы на значительном удалении от операторской применяются цифровые датчики.<br>
        Программное обеспечение для компьютера или ноутбука поставляется бесплатно и позволяет вести учет отвесов с сохранением фотографии момента взвешивания, выписывать весовые талоны и накладные. Поддерживает «двойное взвешивание» (брутто, тара) для вычисления веса нетто. При необходимости, обеспечивает удаленный доступ к данным о взвешиваниях из любой точки мира посредством приложения ScalesControl.<br>
      </h5>
    </div>
    <div class="flex-center pt-4 pb-5">
      <img
        src="assets/industrial/div.jpg"
        class="img-fluid z-depth-1"
      />
    </div>
  </section>

  <section class="pt-0">
    <h4 style="font-family: 'Times New Roman'" class="font-weight-bold flex-center pb-2">Оцените преимущества электронных автомобильных весов</h4>
    <div class="container">
      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="font-weight-bold flex-center black-text">
              Старые механические весы
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mb-3">
          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="font-weight-bold flex-center black-text">
              Модернизированные электронные весы
            </h5>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Износ рычажной системы и призм. Следствие - проблемы с точностью (результат взвешивания не соответствует фактическому весу).
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/clock.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Отсутствие механических узлов - гарантия точности взвешивания на протяжении всего срока эксплуатации.
            </h5>
          </div>

        </div>
      </div>









      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Зависимость точности показаний от температурных колебаний окружающей среды.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb2.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/Temp-30+45.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Высокая точность и стабильность измерения, независящие от температурных колебаний окружающей среды.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Частое техобслуживание и сложный ремонт весов.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb3.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb4.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Простота обслуживания и надежность системы за счёт отсутствия изнашивающихся деталей.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Действие природных факторов (грунтовые воды, обледенение, коррозия механических элементов)
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb5.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb6.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Герметичная и защищенная конструкция электронных компонентов.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Низкая производительность измерений (более 2-х минут).
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb7.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb8.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Высокая производительность измерений (от 3-х секунд).
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Ошибки оператора при взвешивании и учете измерений.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb9.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb10.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Автоматическая регистрация и учет измерений.
            </h5>
          </div>

        </div>
      </div>





      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              «Ручной» весовой учёт на предприятии.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb12.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/Automatic.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Возможность организации полной автоматизации взвешивания с последующим экспортом данных в бухгалтерские программы
            </h5>
          </div>

        </div>
      </div>
    </div>



    <!--Grid row-->
    <div class="py-2 my-2">
      <div class="row flex-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-2 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img lightbox backgroundColor="white" src="assets/cert/bsn.jpg" class="img-fluid" alt="">
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">


          <h6 class="">Автомобильные весы Alex S&E соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания».
            Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.</h6>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <div class="py-3 my-3">
      <h1 class="h2 text-center">Характеристики</h1>
      <div class="container">
        <!--        <img lightbox backgroundColor="white" src="assets/industrial/modern/buble.png" class="img-fluid" alt="">-->
        <table mdbTable striped="true" bordered="true">
          <thead>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <td class="font-weight-bold">{{el.first}}</td>
            <td class="font-weight-bold">{{el.last}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>

</div>
