<div class="view">
  <div style="height: 100%;" class="bgquest">
    <div class="pt-1 wow bounceIn" data-wow-delay="0.6s">
      <mdb-card-body cascade="true" class="text-center pt-5 pb-3">
        <!--Title-->
        <mdb-card-title>
          <h3>
            <strong class="white-text">{{ 'HOME.QUESTIONS.Title' | translate }}</strong>
          </h3>
        </mdb-card-title>

        <mdb-card-text class="white-text">
          <h5>{{ 'HOME.QUESTIONS.Text' | translate }}</h5>
        </mdb-card-text>


        <!-- Default inline form -->
        <form class="form-inline flex-center">
          <!-- Default input -->
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input mdbInput type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="{{ 'HOME.QUESTIONS.Name' | translate }}">
          <!-- Default input -->
          <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input mdbInput type="text" class="form-control py-0" id="inlineFormInputGroupUsername2" placeholder="{{ 'HOME.QUESTIONS.Email' | translate }}">
          </div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input mdbInput type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="{{ 'HOME.QUESTIONS.Phone' | translate }}">

          <button type="submit" mdbBtn color="primary" class="mt-0">{{ 'BUTTONS.Question' | translate}}</button>
        </form>
        <!-- Default inline form -->


      </mdb-card-body>
    </div>
  </div>

</div>
