<div class="bc-icons-2">
  <mdb-breadcrumb customClass="white">
    <div class="container">

      <mdb-breadcrumb-item>
        <mdb-breadcrumb-item (click)="productPage.defaultPage()" [routerLink]="'/'">Главная</mdb-breadcrumb-item>
        <mdb-breadcrumb-item (click)="productPage.defaultPage()" [routerLink]="'/products'">Магазин</mdb-breadcrumb-item>
        <mdb-breadcrumb-item (click)="productPage.defaultPage()" [routerLink]="'/products/subcategory/'+ this.subcategoryId">{{this.subcategoryName}}</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">{{this.productName}}</mdb-breadcrumb-item>
      </mdb-breadcrumb-item>

    </div>
  </mdb-breadcrumb>
</div>

<div *ngIf="product$ | async as product; else loading ">
  <div class="container gotop">
    <!--Section: Content-->
    <section class="text-center">

      <div class="pt-2">
        <app-alerting></app-alerting>
      </div>
      <!-- Section heading -->

      <div class="row pt-0">

        <div class="col-lg-6">

          <!--Carousel Wrapper-->
          <div id="carousel-thumb1" class=" carousel slide carousel-fade carousel-thumbnails mb-1 pb-1"
               data-ride="carousel">

            <mdb-carousel class="flex-center" [isControls]="true" [animation]="'slide'">
              <!--First slide-->
              <mdb-slide>
                <div class=" pl-5">
                  <img src="{{product.img[0].path}}"
                       lightbox backgroundColor="white"
                       alt="First slide" class="img-fluid">

                </div>
              </mdb-slide>

            </mdb-carousel>


          </div>
          <!--/.Carousel Wrapper-->
          <div lightbox-group class="row mb-1 ">
            <div class="flex-center">
              <figure *ngIf="product.imgOne[0].path" class="col-md-2 py-2 border mr-3">
                <img src="{{product.imgOne[0].path}}"
                     lightbox
                     class="img-fluid">
              </figure>
              <figure *ngIf="product.imgTwo[0].path" class="col-md-2 py-2 border mr-3">
                <img src="{{product.imgTwo[0].path}}"
                     lightbox
                     class="img-fluid">
              </figure>
              <figure *ngIf="product.imgThree[0].path" class="col-md-2  py-2 border  mr-3">

                <img  src="{{product.imgThree[0].path}}"
                     lightbox
                     class="img-fluid">
              </figure>
              <figure *ngIf="product.imgFour[0].path" class="col-md-2  py-2 border  mr-3">
                <img src="{{product.imgFour[0].path}}"
                     lightbox
                     class="img-fluid">
              </figure>
            </div>
          </div>
        </div>


        <div class="col-lg-6 text-center text-md-left">

          <h2
            class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 ">{{product.name}}</h2>
          <hr>

          <div class="font-weight-normal">

            <p class="ml-xl-0 ml-4">
              <quill-view-html [content]="product.content"></quill-view-html>
            </p>


            <div *ngIf="product.subcategory === casaProd" class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="casa">Выбрать Опции</label>
                <select [(ngModel)]="selected" (change)="onSelectCasa(selected)" class="browser-default custom-select"
                        id="casa">
                  <option value="Без аккумулятора">Без аккумулятора</option>
                  <ng-container *ngFor="let cassss of casaS let inx = index">
                    <ng-container *ngIf="cassss._id == product.casa[inx]">
                      <option [value]="cassss.name">{{cassss.name}} + {{cassss.price}} Lei</option>
                    </ng-container>
                  </ng-container>

                </select>
              </div>
            </div>


            <div
              *ngIf="product.subcategory === platProd || product.subcategory === platgoProd">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="indicator">Выбрать Индикатор</label>
                  <select [(ngModel)]="selectedIndicator" (change)="onSelectInd(selectedIndicator)"
                          class="browser-default custom-select" id="indicator">
                    <option value="MERAV2000">MERAV2000</option>
                    <ng-container *ngFor="let indicat of indicatorS">
                      <ng-container *ngFor="let indi of product.indicator">
                      <ng-container *ngIf="indicat._id == indi">
                        <option [value]="indicat.name">{{indicat.name}} + {{indicat.price}} Lei</option>
                      </ng-container>
                    </ng-container>
                    </ng-container>
                  </select>
                </div>

                <ng-container *ngFor="let indicat of indicatorS">
                  <ng-container *ngIf="selectedIndicator === indicat.name ">
                    <div class="container pt-3 pb-1">
                      <!--Section: Content-->
                      <section class="">
                        <!--Grid row-->
                        <div class="row">
                          <!--Grid column-->
                          <div class="col-lg-4 col-md-3 mb-4 mb-md-0">
                            <!--Image-->
                            <!--                            <div class="view overlay z-depth-1-half">-->
                            <div class="">
                              <img lightbox src="{{indicat.img}}" class="img-fluid" alt="">
                            </div>
                          </div>
                          <!--Grid column-->
                          <!--Grid column-->
                          <div class="col-md-8 mb-2 mb-md-0">
                            <quill-view [content]="indicat.content"></quill-view>
                            <div *ngIf="indicat.price !== 0">
                              <strong> + {{indicat.price | currency: 'MDL '}}</strong>
                            </div>
                          </div>
                          <!--Grid column-->
                        </div>
                        <!--Grid row-->
                      </section>
                      <!--Section: Content-->
                    </div>
                  </ng-container>
                </ng-container>

              </div>
              <div *ngIf="product.pandus[0] !== pandusNoHaveProd">
                <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="pandus">Выбрать Пандус</label>
                    <select [(ngModel)]="selectedPandus" (change)="onSelectPand(selectedPandus)"
                            class="browser-default custom-select" id="pandus">
                      <option value="Без пандусов">Без пандусов</option>
                      <ng-container *ngFor="let pand of pandusS">
                      <ng-container *ngFor="let pan of product.pandus">
                        <ng-container *ngIf="pand._id === pan">
                          <option [value]="pand.name">{{pand.name}} + {{pand.price}} Lei</option>
                        </ng-container>
                        </ng-container>
                      </ng-container>

                    </select>
                  </div>
                </div>

                <ng-container *ngFor="let pand of pandusS">
                  <ng-container *ngIf="selectedPandus === pand.name">
                    <div class="container pt-3">
                      <!--Section: Content-->
                      <section class="">
                        <!--Grid row-->
                        <div class="row">
                          <!--Grid column-->
                          <div class="col-lg-4 col-md-3 mb-4 mb-md-0">
                            <!--Image-->
                            <div class="">
                              <img lightbox src="{{pand.img}}" class="img-fluid" alt="">
                            </div>
                          </div>
                          <!--Grid column-->
                          <!--Grid column-->
                          <div class="col-md-8 mb-2 mb-md-0">
                            <quill-view [content]="pand.content"></quill-view>
                            <div *ngIf="pand.price !== 0">
                              <strong> + {{pand.price | currency: 'MDL '}}</strong>
                            </div>
                          </div>
                          <!--Grid column-->
                        </div>
                        <!--Grid row-->
                      </section>
                      <!--Section: Content-->
                    </div>
                  </ng-container>
                </ng-container>
              </div>


            </div>
            <div class="mt-3">
              <h3 class="h3-responsive text-center text-md-left mb-2 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong class="pr-3">{{product.cost | number}} Lei</strong>
          </span>
                <span class="grey-text">
            <small>
              <s>{{+product.oldCost | currency: 'MDL '}}</s> <small class="pl-5 grey-text">Код продукта: {{product.code}}</small>
            </small>
          </span>
              </h3>
              <div class="row mt-3 mb-4">
                <div class="col-md-12 text-center text-md-left">
                  <li class="list-group-item">Количество: <input type="number" value="1" min="1"
                                                                 [(ngModel)]="product.quantity"></li>

                  <div *ngIf="product.subcategory === casaProd" class="pt-1">
                    <button [disabled]="!product.quantity" (click)="addToOrderCasa(product, selected, priceCasa)"
                            class="btn btn-primary btn-rounded">
                      <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> В Корзину
                    </button>
                  </div>


                  <div
                    *ngIf="product.subcategory === platProd || product.subcategory === platgoProd"
                    class="pt-1">
                    <button [disabled]="!product.quantity"
                            (click)="addToOrderIndAndPand(product, selectedIndicator, priceIndicator, selectedPandus, pricePandus)"
                            class="btn btn-primary btn-rounded">
                      <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> В Корзину
                    </button>
                  </div>


                  <div
                    *ngIf="product.subcategory !== casaProd &&  product.subcategory !== platProd &&  product.subcategory !== platgoProd"
                    class="pt-1">
                    <button [disabled]="!product.quantity" (click)="addToOrder(product)"
                            class="btn btn-primary btn-rounded">
                      <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> В Корзину
                    </button>
                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


      <ngb-tabset [destroyOnHide]="false">

        <ngb-tab  title="Технические параметры">
          <ng-template ngbTabContent>
            <div [froalaView]="product.spec"></div>
<!--            <quill-view-html [content]="product.spec"></quill-view-html>-->
          </ng-template>
        </ngb-tab>

        <ngb-tab  title="Функциональные возможности">
          <ng-template ngbTabContent>
            <quill-view-html [content]="product.functions"></quill-view-html>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Сертификаты">
          <ng-template ngbTabContent>
            <quill-view-html [content]="product.certificate"></quill-view-html>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>


    </section>
    <!--Section: Content-->


  </div>
</div>


<ng-template #loading>
  <p class="text-center">Загружаю продукт...</p>
</ng-template>
