<!--Section: Content-->
<section class="text-center pt-5">

  <h1 class="text-center font-weight-bold mb-4 pb-2 wow zoomIn" data-wow-delay="0.3s">Автомобильные весы</h1>


</section>
<!--Section: Content-->

<div class="container flex-center pt-4">

  <div class="row">

    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow fadeInLeft" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold" style="width: 700px;max-height: 330px" src="assets/industrial/1.png" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center">
          <h5 class="font-weight-bold">СТАЦИОНАРНЫЕ АВТОМОБИЛЬНЫЕ ВЕСЫ</h5>
        </div>

      </div>


    </div>
    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow zoomIn" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold" style="width: 700px; max-height: 330px" src="assets/industrial/2.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">ПЕРЕДВИЖНЫЕ ВЕСЫ ФЕРМЕР</h5>
        </div>

      </div>

    </div>

    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold" style="width: 700px; max-height: 330px" src="assets/industrial/3.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">ПЕРЕДВИЖНЫЕ ВЕСЫ ФЕРМЕР</h5>
        </div>

      </div>

    </div>

    <div class="w-100"></div>

    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow fadeInLeft" data-wow-delay="0.3s">
        <img class="img-fluid" style="width: 700px;max-height: 330px" src="assets/industrial/4.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">ПЕРЕНОСНЫЕ ДЛЯ ВЗВЕШИВАНИЯ НАГРУЗКИ НА ОСЬ</h5>
        </div>

      </div>

    </div>
    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow zoomIn" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold" style="width: 700px;max-height: 330px" src="assets/industrial/5.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold">
          <h5 class="font-weight-bold">СТАЦИОНАРНЫЕ ДЛЯ ВЗВЕШИВАНИЯ НАГРУЗКИ НА ОСЬ</h5>
        </div>

      </div>

    </div>


    <div class="col">
      <!-- Image -->
      <div class="view overlay rounded z-depth-1-half mb-4 wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid font-weight-bold" style="width: 700px; max-height: 330px" src="assets/industrial/6.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>

        <div class="card-body flex-center font-weight-bold mb-4">
          <h5 class="font-weight-bold">ПЕРЕДВИЖНЫЕ ВЕСЫ ФЕРМЕР</h5>
        </div>

      </div>

    </div>







  </div>

</div>

<app-icon-list></app-icon-list>
<app-text-indus></app-text-indus>
<app-support-indus></app-support-indus>
