<!--Section: Features v.3-->
<section class="text-left">
  <div style="height: 550px;" class="bginfo">
      <div style="padding-top: 100px" class="float-right">
        <div class="col-lg-11 col-xl-11 ">
          <div class="black-text" style="font-family: 'Times New Roman'">
            <h3 class="pl-5 h3-responsive wow fadeInLeft font-weight-bold"  data-wow-delay="0.3s">{{ 'HOME.INFO_SHORT.Title' | translate}}</h3>
            <h5 class="wow fadeInLeft" data-wow-delay="0.3s">
              <div [innerHTML]="'HOME.INFO_SHORT.ContentTop'  | translate"></div>
            </h5>
            <br>
            <h5 class="wow fadeInLeft" data-wow-delay="0.3s">
              <div [innerHTML]="'HOME.INFO_SHORT.ContentBottom'  | translate"></div>
            </h5>
            <a mdbBtn color="red" routerLink="/about" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">{{ 'BUTTONS.AboutUs' | translate}}</a>
            <a mdbBtn color="blue" routerLink="/products" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">{{ 'BUTTONS.Products' | translate}}
            </a>
          </div>
        </div>
      </div>
  </div>
</section>
