<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5 flex-center">
<div class="containermid">

  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">

        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">AlexMarket</h4>
        <p class="font-weight-normal dark-grey-text pr-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
          eos id
          officiis hic tenetur quae quaerat
          ad velit ab hic tenetur.</p>
        <!--Review-->
        <div>
          <button routerLink="/alex-market" type="button" class="btn btn-primary">ОЗНАКОМИТЬСЯ</button>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">

        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">B52</h4>
        <p class="font-weight-normal dark-grey-text pr-2">
          Ut enim ad minima veniam, quis nostrum exercitationem ullam
          corporis
          suscipit laboriosam, nisi ut
          aliquid commodi.
        </p>
        <!--Review-->
        <div>
          <button routerLink="/b52" type="button" class="btn btn-primary">ОЗНАКОМИТЬСЯ</button>
        </div>

      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 wow bounceIn" data-wow-delay="0.6s">

      <div class="testimonial">

        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Flagman</h4>
        <p class="font-weight-normal dark-grey-text pr-2">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum
          deleniti atque corrupti.</p>
        <div>
          <button routerLink="/flagman" type="button" class="btn btn-primary">ОЗНАКОМИТЬСЯ</button>
        </div>

        <!--Review-->
      </div>

    </div>

    <!--Grid column-->

  </div>
  <!--Grid row-->
</div>
</section>
<!-- Section: Testimonials v.3 -->
