<div class="pb-2">
<div class="container grey lighten-4 pt-4 wow fadeInLeft" data-wow-delay="0.6s">
  <!-- Section: Block Content -->
  <section>
    <!-- Grid row -->
    <div class="row no-gutters">
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
              <div class="view overlay">
                <img src="assets/flagman/1.png" class="img-fluid" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title mb-1"><strong><a  class="dark-grey-text">Быстрое оформление заказа</a></strong></h5>
                  <p class="card-title mb-1"><p><a  class="dark-grey-text">Интерфейс спроектирован для скоростного ввода заказов.
                  Уже за 1 день работники сокращают время оформления заказа в среднем на 35%.
                </a></p>
                </div>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
              <div class="view overlay">
                <img src="assets/flagman/2.png" class="img-fluid" alt="Sample image">
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Удобная карта зала</a></strong></h5>
                  <p class="card-title mb-1"><p><a  class="dark-grey-text">Наглядная графическая схема зала покажет свободные и занятые столики.
                  Цвет столика соответствует статусу заказа, что помогает оперативно обслуживать гостей.
                </a></p>
                </div>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Block Content -->
</div>
</div>


<div class="pb-2">
  <div class="container grey lighten-4 pt-4 wow fadeInRight" data-wow-delay="0.6s">
    <!-- Section: Block Content -->
    <section>
      <!-- Grid row -->
      <div class="row no-gutters">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/3.png" class="img-fluid" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a  class="dark-grey-text">Режим фаст-фуда</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Все данные хранятся в на вашем компьютере Не требуется подключение к интернету
                    Отключите карту зала, если заведение работает в режиме фаст-фуда.
                    Также можно присвоить кнопкам изображения блюд для более быстрого ввода заказа.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-4 pt-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/4.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">СТОП-лист блюд</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Временно не доступные блюда оформляются в СТОП-лист с возможностью быстрой активации.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
</div>



<div class="pb-2">
  <div class="container grey lighten-4 pt-4 wow fadeInLeft" data-wow-delay="0.6s">
    <!-- Section: Block Content -->
    <section>
      <!-- Grid row -->
      <div class="row no-gutters">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/5.png" class="img-fluid" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a  class="dark-grey-text">Бегунки на кухню, бар, мангал</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Избегайте личного общения официантов с поварами и барменами. Модификаторы в заказе подскажут, как нужно приготовить и подать блюдо.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/6.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Любой способ оплаты</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Наличными, кредитной картой, безналичный, бартер, расчет клубной картой, сертификатом. Заказ можно оплатить частями.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
</div>




<div class="pb-2">
  <div class="container grey lighten-4 pt-4 wow fadeInRight" data-wow-delay="0.6s">
    <!-- Section: Block Content -->
    <section>
      <!-- Grid row -->
      <div class="row no-gutters">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/7.png" class="img-fluid" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a  class="dark-grey-text">Разделение счета по гостям</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Вы сможете легко и быстро разбить чек на несколько между людьми в компании.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/8.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Чек с логотипом заведения</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">На каждом чеке можно разместить логотип Вашего заведения и адрес.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
</div>



<div class="pb-2">
  <div class="container grey lighten-4 pt-4 wow fadeInLeft" data-wow-delay="0.6s">
    <!-- Section: Block Content -->
    <section>
      <!-- Grid row -->
      <div class="row no-gutters">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/viber_2020-01-.jpg" class="img-fluid" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a  class="dark-grey-text">Режим админа ― стоп воровство!</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Установите пароль администратора на действия,
                    для которых важна повышенная безопасность: удаление товара после печати пречека, скидка, закрытие заказа без оплаты.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <!-- Card -->
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex align-items-center">
                <div class="view overlay">
                  <img src="assets/flagman/viber_2020-01-3.jpg" class="img-fluid" alt="Sample image">
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-sm-0 px-md-3 pl-lg-0">
                <div class="">
                  <div class="card-body">
                    <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Надежная работа без интернета</a></strong></h5>
                    <p class="card-title mb-1"><p><a  class="dark-grey-text">Работа фронта не привязана к работе интернета.
                    Данные не теряются при отключении интернета, и работа не останавливается ни на минуту.
                  </a></p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
</div>
