<div class="container my-4 py-4 grey lighten-4 wow zoomIn" data-wow-delay="0.6s">


  <!--Section: Content-->
  <section class="px-md-1 mx-md-3 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4 mb-md-0">

        <!--Image-->
        <div class="view">
          <img src="assets/auto/hotel/hotel-waiter-food.png" class="img-fluid" alt="">
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-8 mb-4 mb-md-0">

        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h6>Ресторан</h6>
              <h3>Модули хостеса, бармена, официанта</h3>
              <p style="text-align: justify;">Ресторан при гостинице работает в режиме обслуживания гостей отеля. На рабочем месте хостеса происходит регистрация посетителя с контролем оплаты питания. Если питание не включено в стоимость проживания, счет можно оплатить на месте всеми доступными способами или закрыть долг на номер. Ресторан, кроме обслуживания гостей отеля, может быть открыт для посещения внешних клиентов.</p>

            </div>
          </div>

          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h6>Booking engine</h6>
              <h3>Модуль бронирования для сайта</h3>
              <p style="text-align: justify;">Модуль дает возможность вашему гостю самостоятельно выбрать номер, забронировать и оплатить его. Система контролирует загрузку отеля и предотвращает overbooking. Поддерживаются акционные программы. Календарь доступности поможет гостю выбрать удобные дни для проживания. Новая бронь автоматически попадет в В52 и отразится на шахматке. Подтверждение брони может быть сразу отправлено гостю на email или предварительно обработано менеджером отдела бронирования.</p>

            </div>
          </div>
        </div>



      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Content-->


</div>
