<div class="container mt-5">


  <!--Section: Content-->
  <section>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-8 mb-4 align-self-center text-center text-lg-left wow fadeInLeft" data-wow-delay="0.6s">
          <h6>Кухня</h6>
          <h3>Модуль для повара</h3>
          <p style="text-align: justify;">В стандартной поставке на кухню или в каждый цех кухонного блока устанавливается принтер для печати встречек. Установка компьютера с модулем для повара существенно расширяет возможности системы. Записи заказов, которые распечатываются на принтере для встречек, автоматически появляются на экране компьютера. Повар по каждой записи может отметить факт принятия заказа в работу, при необходимости создать требование на перемещение ингредиентов со склада. Отметка факта выполнения заказа отправляет на POS-терминал сообщение о готовности заказа. Если официант, отправивший заказ, оснащен смартфоном, он получит сообщение об этом на телефон. Дополнительным преимуществом является возможность контролировать скорость выполнения заказов.</p>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 mb-4 wow fadeInRight" data-wow-delay="0.6s">

        <!-- Featured image -->
        <div class="view overlay">
          <img class="img-fluid mx-auto" src="assets/auto/restourant/kisspng-computer-programming-software-developer-software-e-internet-computer-technology-5a6acebec12a92_3136952715169491827912-298x300.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
