<div class="container my-4 py-4 grey lighten-4 wow zoomIn" data-wow-delay="0.6s">


  <!--Section: Content-->
  <section class="px-md-1 mx-md-3 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4 mb-md-0">

        <!--Image-->
        <div class="view">
          <img src="assets/auto/restourant/kisspng-network-operations-center-network-monitoring-manag-analyst-5acc160d96ee83_2986819115233244296182.png" class="img-fluid" alt="">
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-8 mb-4 mb-md-0">

          <h6>Зал ресторана</h6>
          <h3>Модуль для администратора ресторана</h3>
          <p style="text-align: justify;">Это не отдельный модуль, но часть функционала модуля для официанта/бармена. Администратор получает доступ к этим функциям благодаря настройке прав по должности «Администратор». Расширенные возможности позволяют администратору вести мониторинг работы ресторана, просматривая все счета, тем самым контролируя качество работы официантов и барменов. Расширенные права позволяют производить при необходимости повторную печать встречек и счетов с возможностью в дальнейшем контролировать этот факт со стороны руководства, пересчитывать счет по себестоимости. Администратор</p>



      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Content-->


</div>
