<div class="d-flex justify-content-end pt-3">

</div>

<h3 >{{isNew ? 'Добавить' : 'Редактировать'}} пост</h3>
<app-alert></app-alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="md-form">
    <input
      formControlName="title"
      mdbInput
      type="text"
      id="title"
      class="form-control"
      [ngClass]="{'invalid': form.get('title').invalid && form.get('title').touched }"
    >

    <label for="title" class="">Название продукта</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('title').invalid && form.get('title').touched"
    >
  <span *ngIf="form.get('title').errors['required']">
    Имя продукта не может быть пустым
  </span>
  </span>
  </div>

  <div class="md-form">
    <input
      formControlName="titleRo"
      mdbInput
      type="text"
      id="titleRo"
      class="form-control"
      [ngClass]="{'invalid': form.get('titleRo').invalid && form.get('titleRo').touched }"
    >

    <label for="titleRo" class="">Название продукта Romanian</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('titleRo').invalid && form.get('titleRo').touched"
    >
  <span *ngIf="form.get('titleRo').errors['required']">
    Имя продукта не может быть пустым
  </span>
  </span>
  </div>

  <div class="md-form">
    <input
      formControlName="titleEn"
      mdbInput
      type="text"
      id="titleEn"
      class="form-control"
      [ngClass]="{'invalid': form.get('titleEn').invalid && form.get('titleEn').touched }"
    >

    <label for="titleEn" class="">Название продукта English</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('titleEn').invalid && form.get('titleEn').touched"
    >
  <span *ngIf="form.get('titleEn').errors['required']">
    Имя продукта не может быть пустым
  </span>
  </span>
  </div>

  <div class="flex-center">
    <img
      class="responsive-img"
      style="height: 200px"
      [src]="imagePreview"
      *ngIf="imagePreview"
    >
  </div>

  <div class="file-field md-form">
    <h6>Загрузить картинку</h6>
    <div>
      <input
        type="file"
        class="d-none"
        #input
        (change)="onFileUpload($event)"
      >


      <button
        (click)="triggerClick()"
        [disabled]="form.disabled"
        type="button"
        mdbBtn
        color="orange"
        mdbWavesEffect
      >
        Загрузить изображение
      </button>
    </div>
  </div>

  <div   class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="subcategory">Выбрать категорию</label>
    </div>
    <select  class="form-control" id="subcategory" formControlName="category">
      <option *ngFor="let category of categories"  [ngValue]="category._id" ngDefaultControl>{{category.name}}</option>
    </select>
  </div>



  <div class="md-form">
    <textarea
      formControlName="preview"
      mdbInput
      type="textarea"
      id="preview"
      class="form-control"
      [ngClass]="{'invalid': form.get('preview').invalid && form.get('preview').touched }"
    ></textarea>

    <label for="preview" class="">preview</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('preview').invalid && form.get('preview').touched"
    >
  <span *ngIf="form.get('preview').errors['required']">
    preview не может быть пустым
  </span>
  </span>
  </div>


  <div class="md-form">
    <textarea
      formControlName="previewRo"
      mdbInput
      type="textarea"
      id="previewRo"
      class="form-control"
      [ngClass]="{'invalid': form.get('previewRo').invalid && form.get('previewRo').touched }"
    ></textarea>

    <label for="previewRo" class="">preview Ro</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('previewRo').invalid && form.get('previewRo').touched"
    >
  <span *ngIf="form.get('previewRo').errors['required']">
    preview не может быть пустым
  </span>
  </span>
  </div>


  <div class="md-form">
    <textarea
      formControlName="previewEn"
      mdbInput
      type="textarea"
      id="previewEn"
      class="form-control"
      [ngClass]="{'invalid': form.get('previewEn').invalid && form.get('previewEn').touched }"
    ></textarea>

    <label for="previewEn" class="">preview En</label>
    <span
      class="helper-text red-text"
      *ngIf="form.get('previewEn').invalid && form.get('previewEn').touched"
    >
  <span *ngIf="form.get('previewEn').errors['required']">
    preview не может быть пустым
  </span>
  </span>
  </div>

  <div>
    <label>Контент поста</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <div>
    <label>Контент поста RO</label>
    <quill-editor formControlName="contentRo"></quill-editor>
  </div>

  <div>
    <label>Контент поста EN</label>
    <quill-editor formControlName="contentEn"></quill-editor>
  </div>

  <button
    [disabled]="form.invalid || form.disabled"
    type="submit"
    mdbBtn color="primary"
    mdbWavesEffect
  >
    Сохранить изминения
  </button>
</form>

