<div class="container">


  <!--Section: Content-->
  <section class=" text-left dark-grey-text">

    <h3 class="font-weight-bold mb-5"></h3>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">



        <div class="wpb_wrapper">
          <h3>Стационарный модуль</h3>
          <p style="text-align: justify;">Стационарный POS-терминал позволяет отображать удобный, продуманный, интуитивно понятный интерфейс, в котором нет необходимости для каждой операции открывать отдельное окно.</p>

        </div>

        <img class="img-fluid mx-auto" src="assets/auto/billiard/STATIONAR-MODUL1.jpg">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">


        <div class="wpb_wrapper">
          <h3>Мобильный модуль для официантов.</h3>
          <p style="text-align: justify;">Модуль позволяет работать с заказом на смартфоне или планшете. Синхронизация с центральной базой происходит по WiFi или 3/4g. Постоянное присутствие в зоне связи не обязательно, устройство может работать автономно. Официант со смартфоном не привязан к залу, в котором находится стационарная станция.</p>

        </div>

<!--        <img class="img-fluid mx-auto" src="assets/auto/billiard/STATIONAR-MODUL1.jpg">-->
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1583335778392"><div class="wpb_wrapper"><h2 style="text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal" class="vc_custom_heading">Картинка 800Х553</h2></div></div></div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
