<div class="container pl-0">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <ol class="step pl-0 pt-5">

        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/stationar-oficiant.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Простой и понятный интерфейс</h6>
            <p class="mb-0">
              Официанты и бармены начнут работать через пять минут после установки.
              Бухгалтеру желательно иметь профильное образование, но не обязательно – обучим.
            </p>
          </div>
        </li>

        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-icon-b52-2.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Фискальная печать </h6>
            <p class="mb-0">
              Программа адаптирована к работе со всеми фискальными принтерами из реестра РКО Украины.
              Несколько юридических лиц? – не проблема.
            </p>
          </div>
        </li>


        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-icon-b52-3.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Идентификация </h6>
            <p class="mb-0">
              На ваш выбор всевозможные варианты идентификации гостей: магнитная полоса, штрих-код,
              бесконтактная карта, определение по отпечатку пальца, по последним цифрам номера телефона с подтверждением SMS.
            </p>
          </div>
        </li>



        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-block1.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Система подсчета времени </h6>
            <p class="mb-0">
              Открытие стола происходит на фиксированное время или без ограничения
            </p>
          </div>
        </li>



      </ol>
    </div>

    <div class="col-lg-6 mb-4">
      <ol class="step pl-0 pt-5">


        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-icon-b52-4.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Не теряйте деньги</h6>
            <p class="mb-0">
              Закроем места потенциальных финансовых потерь.
              Ваш персонал проявляет креатив? – мы покажем как и где.
            </p>
          </div>
        </li>


        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-icon-b52-5.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Чековые принтеры</h6>
            <p class="mb-0">
              Мы создадим для вас красивые бланки счетов и встречек.
              Программа не ограничивает в выборе устройства печати.
              Bluetooth и WiFi – принтеры взаимодействуют с мобильными терминалами
            </p>
          </div>
        </li>



        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/3-icon-b52-6.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Маркетинг</h6>
            <p class="mb-0">
              Расширяйте клиентскую базу, привлекая новых гостей программами лояльности.
            </p>
          </div>
        </li>



        <li class="step-element pb-4 wow zoomIn" data-wow-delay="0.6s">
          <div class="step-number align-items-center mr-4">
            <img class="img-fluid mx-auto" src="assets/auto/billiard/4-block.jpg">
          </div>
          <div class="step-excerpt">
            <h6 class="font-weight-bold mb-3">Резервация столов
            </h6>
            <p class="mb-0">
              Позволит увеличить эффективность работы за счет оперативного и наиболее оптимального распределения заказов
            </p>
          </div>
        </li>




      </ol>
    </div>

  </div>
</div>




<style>
  .fa-play:before {
    margin-left: .3rem;
  }

  /* Steps */
  .step {
    list-style: none;
    margin: 0;
  }

  .step-element {
    display: flex;
    padding: 1rem 0;
  }

  .step-number {
    position: relative;
    width: 14rem;
    flex-shrink: 0;
    text-align: center;
  }

  .step-number .number {
    color: #bfc5ca;
    background-color: #eaeff4;
    font-size: 1.5rem;
  }

  .step-number .number {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

  .number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 10rem;
  }

  .step-number::before {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 48px;*/
    /*bottom: -2rem;*/
    /*margin-left: -1px;*/
    /*border-left: 2px dashed #fff;*/
  }

  .step .step-element:last-child .step-number::before {
    bottom: 1rem;
  }
</style>



























