<div class="container grey lighten-4 py-5">
  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text wow zoomIn" data-wow-delay="0.6s">
    <h3 class="font-weight-bold">КОМПЛЕКТ ДЛЯ АВТОМАТИЗАЦИИ ТОРГОВЛИ <span class="blue-text"> POS-Alimentara</span></h3>
  </section>
</div>

<div class="container">


  <!--Section: Content-->
  <section class="text-center pt-3">

    <div class="row ">
      <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.6s">

        <!--Carousel Wrapper-->
        <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4" data-ride="carousel">


          <mdb-carousel [isControls]="true" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
              <img src="assets/alexmarket/complectAlimentara.png"
                   lightbox backgroundColor="white"
                   alt="First slide" class="img-fluid">
            </mdb-slide>

          </mdb-carousel>


        </div>
        <!--/.Carousel Wrapper-->

        <div lightbox-group  class="row mb-4 ">

          <figure class="col-md-2 border mr-3">
              <img src="assets/complect/alimentara/MicroPOS-5-wire-resistive.jpg"
                   lightbox
                   class="img-fluid">
          </figure>
          <figure class="col-md-2 border mr-3">
              <img src="assets/complect/alimentara/Datecs-DP-150SD.jpg"
                   lightbox
                   class="img-fluid">
          </figure>
          <figure class="col-md-2 border mr-3">
              <img src="assets/complect/alimentara/BSN-6_15kgD1_3.jpg"
                   lightbox
                   class="img-fluid">
          </figure>

          <figure class="col-md-2 border mr-3">
              <img src="assets/complect/alimentara/Mindeo-MD2000AT-1D.jpg"
                   lightbox
                   class="img-fluid">
          </figure>
        </div>
      </div>


      <div class="col-lg-6 text-center text-md-left wow fadeInRight" data-wow-delay="0.6s">

        <h3 class="h3-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 pb-5">СОСТАВ КОМПЛЕКТА:</h3>

        <div class="font-weight-normal">


          <h5 class="ml-xl-0 ml-4">
            <strong>1.</strong><span class="blue-text"> Программа Alex-Market</span> (Front Office + Back Office)</h5>
          <h5 class="ml-xl-0 ml-4">
            <strong>2.</strong> ТЕРМИНАЛ POS B15 MicroPOS 5-wire resistive</h5>
          <h5 class="ml-xl-0 ml-4 pb-0">
            <strong>3.</strong> ВЕСЫ торговые BSN 6/15 kg D1.3 T2 230×290 с RS-232</h5>
          <h5 class="ml-xl-0 ml-4 pb-0">
            <strong>4.</strong> КАССОВЫЙ аппарат Datecs DP-150SD battery</h5>
          <h5 class="ml-xl-0 ml-4 pb-1">
            <strong>5.</strong> СКАНЕР лазерный ручной Mindeo MD2000AT 1D</h5>
          <hr>

          <div class="d-flex justify-content-between py-2">
            <div>
              <img src="assets/alexmarket/313131-check-30x30.png"><span>  Компактный</span>
            </div>
            <div>
              <img src="assets/alexmarket/313131-check-30x30.png"><span>  Надежный</span>
            </div>
            <div>
              <img src="assets/alexmarket/313131-check-30x30.png"><span>  Мощный</span>
            </div>
          </div>
          <div class="py-1">
            <img src="assets/alexmarket/techpod.jpg" style="height: 130px;">
          </div>



          <h3 class="h3-responsive text-center text-md-left mb-2 ml-xl-0 ml-4 mt-3">
          <span class="red-text font-weight-bold">
            <strong class="pr-3"><span class="black-text">Цена:</span> 20 300 MDL</strong>
          </span>
            <span class="grey-text">
            <small>
              <s>22 490 MDL</s>
            </small>
          </span>
          </h3>

          <div class="mt-3 ">
            <div class="row mt-1 mb-2">
              <div class="col-md-12 text-center text-md-left ">
                <button class="btn btn-primary btn-rounded">
                  <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Заказать</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
