<section class="container">
  <div style="font-family: 'Times New Roman'">
    <h5 class="black-text">
      Могут устанавливаться как в наземном положении с пандусами для заезда и съезда, так и в приямке, для экономии места на территории предприятия.<br>
      При изготовлении автомобильных весов, мы используем самые надежные, проверенные временем комплектующие.<br>
      Электронный индикаторный блок MERAV 2000 подключается к компьютеру посредством интерфейса RS232. Для автономной работы, при перебоях с электропитанием, индикаторный блок имеет встроенный аккумулятор и подсветку дисплея. Показания веса на дисплее легко читаются с расстояния в несколько метров.<br>
      Датчики в весах имеют степень защиты от пыли и влаги IP68, что по сути, позволяет им работать даже в воде, и защищены от разрядов молнии. Рабочий температурный диапазон датчиков от -30°С до +45°С. При необходимости устанавливать весы на значительном удалении от операторской применяются цифровые датчики.<br>
      Программное обеспечение для компьютера или ноутбука поставляется бесплатно и позволяет вести учет отвесов с сохранением фотографии момента взвешивания, выписывать весовые талоны и накладные. Поддерживает «двойное взвешивание» (брутто, тара) для вычисления веса нетто. При необходимости, обеспечивает удаленный доступ к данным о взвешиваниях из любой точки мира посредством приложения ScalesControl.<br>

    </h5>
  </div>



  <!--Section: Content-->
  <section class="dark-grey-text text-center">

    <div class="row mx-0 nopadding">
      <div class="col-md-6 mb-4 mx-0" style="padding-top: 22px;">

        <div class="view mb-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3FzSHWheosk" allowfullscreen></iframe>
          </div>

        </div>


      </div>
      <div class="col-md-6 mb-4 mx-0 pt-2">

        <div class="view mb-0 mx-0">
          <img src="assets/industrial/ffa.jpg" class="img-fluid" alt="smaple image">
        </div>

      </div>
    </div>

  </section>
  <!--Section: Content-->




  <h1 class="h2 text-center">Стандартная комплектация</h1>

  <div class="flex-center pt-2 pb-0">
    <div class="row">
      <div class="col">
        <img src="assets/industrial/icons/Temp-30+45.png" ngbTooltip="Рабочий температурный диапазон датчиков от -30 до +45 °С" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/SensorIPsecure.png" ngbTooltip="Защита датчиков от пыли и влаги по стандарту IP68" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/RGML14.png" ngbTooltip="Весы соответствуют требованиям стандарта RGML14:2007 " container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/Paint.png" ngbTooltip="Специальная окраска грузоприемной платформы для защиты от коррозии" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/RS232conection.png" ngbTooltip="Интерфейс RS232 для связи с компьютером" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/ShockProtection.png" ngbTooltip="Защита датчиков от удара молнии" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/DisplayIPsecure.png" ngbTooltip="Защита индикатора от пыли и влаги по стандарту IP67" container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/Soft.png" ngbTooltip="Специальное программное обеспечение AlexScales для работы с весами, документацией и отчетов." container="body"  class="pr-5 pb-5">
      </div>
      <div class="col">
        <img src="assets/industrial/icons/ScalesControl.png" ngbTooltip="Мобильное приложение для удаленного контроля результатов взвешивания ScalesControl" container="body"  class="pr-5 pb-5">
      </div>
    </div>
  </div>
</section>
