<div class="container pb-4">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">


    <h1 class="font-weight-bold black-text mb-4 pb-2 wow zoomIn" data-wow-delay="0.6s">Полноценная автоматизация ресторана или кафе ― это:
    </h1>

    <div class="container">
      <div class="row">
        <div class="col">

            <!-- Card -->
            <a  class="card hoverable wow zoomIn" data-wow-delay="1.0s">

              <!-- Card content -->
              <div class="card-body my-4">

                <img
                  src="assets/flagman/icon_01_1.png"
                  class="img-fluid  "
                />
                <h6 class="black-text mb-0 pt-3">Вы получаете полноценные отчет о прибылях и убытках, и баланс</h6>

              </div>

            </a>
            <!-- Card -->



        </div>
        <div class="col">

          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="1.5s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_02_2.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-3 pt-3">Настраиваем блок отчетов для собственника</h6>

            </div>

          </a>
          <!-- Card -->

        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="2.0s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_03_3.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Автоматизируем все процессы на кухне и в обслуживании клиентов</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="2.5s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_04_4.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Настраиваем управленческий, финансовый и складской учет</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="3.0s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_05_5.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Вы получаете полноценные отчет о прибылях и убытках, и баланс</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
      </div>
    </div>














    <div class="container pt-5">
      <div class="row">
        <div class="col">

          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="3.5s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_06_6.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Настраиваем удаленный контроль для собственника из любой точки мира</h6>

            </div>

          </a>
          <!-- Card -->




        </div>
        <div class="col">

          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="4.0s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_07_7.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-3 pt-3">Делаем интеграцию с бухгалтерией и налоговой отчетностью</h6>

            </div>

          </a>
          <!-- Card -->

        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="4.5s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_08_8.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Настраиваем интеграцию с сип-телефонией и сайтом заведения</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="5.0s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_09_9.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-3 pt-3">Обеспечиваем безопасность данных и разграничение доступа</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
        <div class="col">
          <!-- Card -->
          <a  class="card hoverable wow zoomIn" data-wow-delay="5.5s">

            <!-- Card content -->
            <div class="card-body my-4">

              <img
                src="assets/flagman/icon_01_Q.png"
                class="img-fluid  "
              />
              <h6 class="black-text mb-0 pt-3">Бесшовная интеграция с отелем, фитнес-клубом или сетью заведений</h6>

            </div>

          </a>
          <!-- Card -->
        </div>
      </div>
    </div>





  </section>


</div>
