<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/bunker-index'">Бункерные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">ФАСОВОЧНЫЙ ДОЗАТОР</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row pt-4">

        <!-- Grid column -->
        <div class="col-lg-12 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">ФАСОВОЧНЫЙ ДОЗАТОР</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">
            Дозатор весовой для фасовки сыпучих компонентов используется для расфасовки в открытые мешки и пакеты массой от 20 до 50 кг зерна, комбикорма, отрубей, гранул, удобрений, семян, пеллет, сахара, муки и других с ними схожих материалов.<br>
            Фасовочный дозатор крайне прост и удобен в эксплуатации, мешок с материалом взвешивается в процессе наполнения, при достижении заданной массы наполнение мешка прекращается автоматически. После заполнения, мешок заменяется на новый.<br>
            Весовой терминал отображает текущий вес набранной дозы, количество взвешенных мешков и их суммарную массу, имеет удобное управление и широкие возможности по встройке в технологические линии.<br>
            Данные о взвешиваниях сохраняются в энергонезависимой памяти и не могут быть изменены оператором вручную.<br>

          </h5>


        </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>




  <section class="container">


    <div class="container py-5 my-5">
      <section class="p-md-3 mx-md-5">
        <div class="row mb-5 d-flex align-items-center">
          <div class="col-lg-8 col-md-6">
            <div class="">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">ПОЛУАВТОМАТИЧЕСКИЙ ФАСОВОЧНЫЙ ДОЗАТОР</h4>
              </div>
              <div class="card-body">
                <ul class="mb-4">
                  <li><h6>Работает без использования сжатого воздуха</h6></li>
                  <li><h6>Ручной зажим мешка.</h6></li>
                  <li><h6>При необходимости комплектуется ленточным транспортером для перемещения мешков в горизонтальном направлении. Существенно облегчает работу оператора</h6></li>
                  <li><h6>При необходимости комплектуется зашивочной машинкой для зашивки мешка после наполнения – устанавливается на специальной стойке, управляется ножной педалью</h6></li>
                  <li><h6>Для некоторых продуктов в состав дозатора могут быть включены: встряхиватель - для уплотнения продукта в мешке</h6></li>
                  <li><h6>Для фасовки пищевых продуктов, части, контактирующие с материалом, выполняются из нержавеющей стали</h6></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="view overlay rounded">
              <img src="assets/industrial/bunker/l1.jpg" class="img-fluid"
                   alt="Sample project image" />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-5 d-flex align-items-center justify-content-end">
          <div class="col-md-4 col-lg-4">
            <div class="view overlay rounded">
              <img src="assets/industrial/bunker/l2.jpg" class="img-fluid"
                   alt="Sample project image" />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-6">
            <div class="">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">ПНЕВМАТИЧЕСКИЙ ФАСОВОЧНЫЙ ДОЗАТОР</h4>
              </div>
              <div class="card-body">
                <ul class="mb-4">
                  <li><h6>Ручной или пневматический зажим мешка.</h6></li>
                  <li><h6>При необходимости комплектуется ленточным транспортером для перемещения мешков в горизонтальном направлении. Существенно облегчает работу оператора</h6></li>
                  <li><h6>Удобное открытие заслонки педалью, для начала наполнения мешка.</h6></li>
                  <li><h6>При необходимости комплектуется зашивочной машинкой для зашивки мешка после наполнения – устанавливается на специальной стойке, управляется ножной педалью </h6></li>
                  <li><h6>Для некоторых продуктов в состав дозатора могут быть включены: встряхиватель - для уплотнения продукта в мешке, вибратор - для предотвращения •	Для некоторых продуктов в состав дозатора могут быть включены: встряхиватель - для уплотнения продукта в мешке, вибратор - для предотвращения </h6></li>
                  <li><h6>Для фасовки пищевых продуктов, части, контактирующие с материалом, выполняются из нержавеющей стали.</h6></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>





    <!--Grid row-->
    <div class="py-2 my-2">
      <div class="row flex-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-2 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img lightbox backgroundColor="white" src="assets/cert/bsn.jpg" class="img-fluid" alt="">
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">


          <h6 class="">Бункерные весы Alex S&E типа – BSN, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова. </h6>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <div class="py-3 my-3">
      <h1 class="h2 text-center">Характеристики</h1>
      <div class="">
        <!--      <img lightbox backgroundColor="white" src="assets/industrial/vagon/tech.png" class="img-fluid" alt="">-->
        <table mdbTable striped="true" bordered="true">
          <thead>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <td class="font-weight-bold">{{el.first}}</td>
            <td class="font-weight-bold">{{el.last}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>



  </section>



</div>
