<div class="">
  <div class="container pt-2">
    <mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/products'">Продукция</mdb-breadcrumb-item>
      <mdb-breadcrumb-item  [routerLink]="'/bunker-index'">Бункерные весы</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="active">МОДЕРНИЗАЦИЯ БУНКЕРНЫХ ВЕСОВ</mdb-breadcrumb-item>
    </mdb-breadcrumb-item>

    <!--Section: Content-->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8 mb-3 align-self-center text-center text-lg-left">

          <h1 class="h2 mb-5">МОДЕРНИЗАЦИЯ АВТОМОБИЛЬНЫХ ВЕСОВ</h1>
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">Модернизация механических бункерных весов позволяет добиться уменьшения расходов на эксплуатацию, продления срока службы и улучшения функциональных возможностей, за счёт замены механической системы измерения веса на электронную и внедрения автоматизированного управления и учета.
          </h5>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 mb-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img class="img-fluid rounded-circle mx-auto" src="assets/industrial/bunker/lll.jpg" alt="Sample image">

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <section class="container">
    <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">
      При модернизации весов рычажная измерительная система меняется на тензометрическую с сохранением существующего весового бункера, при этом, для заполнения и разгрузки устанавливаются исполнительные механизмы, которые управляются весовым контроллером в автоматическом режиме.
    </h5>

    <div class="row mb-5 d-flex align-items-center justify-content-end">
      <div class="col-md-4 col-lg-4">
        <div class="view overlay rounded">
          <img src="assets/industrial/bunker/cv.png" class="img-fluid"
               alt="Sample project image" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="">
          <h5 style="font-family: 'Times New Roman'" class="black-text mb-4">
            Весовой терминал бункерных весов отображает текущий вес набранной дозы, количество отвесов и суммарный вес отгруженного материала, сохраняет историю отвесов с привязкой к дате и времени. Имеет удобное управление и широкие возможности по встройке в технологические линии и интеграции в информационные системы. Обеспечивает автоматическое управление системами загрузки, выгрузки и другими исполнительными механизмами. Для подключения к компьютеру используется промышленный интерфейс RS-232.<br>
            Информация о взвешиваниях сохраняется в памяти контроллера даже при внезапном отключении электроэнергии и недоступна для изменения вручную.
          </h5>
        </div>
      </div>
    </div>

  </section>


  <section class="pt-4">
    <h5 class="font-weight-bold flex-center black-text pb-2">
      Оцените преимущества электронных бункерных весов
    </h5>
    <div class="container">
      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="font-weight-bold flex-center black-text">
              Старые механические весы
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mb-3">
          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="font-weight-bold flex-center black-text">
              Модернизированные электронные весы
            </h5>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Износ рычажной системы и призм. Следствие - проблемы с точностью (результат взвешивания не соответствует фактическому весу).
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/clock.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Отсутствие механических узлов - гарантия точности взвешивания на протяжении всего срока эксплуатации.
            </h5>
          </div>

        </div>
      </div>









      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Зависимость точности показаний от температурных колебаний окружающей среды.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb2.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/Temp-30+45.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Высокая точность и стабильность измерения, независящие от температурных колебаний окружающей среды.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Частое техобслуживание и сложный ремонт весов.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb3.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb4.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Простота обслуживания и надежность системы за счёт отсутствия изнашивающихся деталей.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Действие природных факторов (грунтовые воды, обледенение, коррозия механических элементов)
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb5.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb6.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Герметичная и защищенная конструкция электронных компонентов.
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Низкая производительность измерений (более 2-х минут).
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb7.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb8.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Высокая производительность измерений (от 3-х секунд).
            </h5>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Ошибки оператора при взвешивании и учете измерений.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb9.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb10.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Автоматическая регистрация и учет измерений.
            </h5>
          </div>

        </div>
      </div>





      <div class="row">
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              «Ручной» весовой учёт на предприятии.
            </h5>
          </div>
        </div>
        <div class="col-md-2 border">
          <div class="d-flex mt-1 mb-1">
            <div class="">
              <img lightbox class="img-fluid" src="assets/industrial/modern/bb12.png" alt="">
            </div>

            <div class="ml-auto">
              <img lightbox class="img-fluid" src="assets/industrial/modern/Automatic.png" alt="">
            </div>

          </div>
        </div>
        <div class="col-md-5 border">
          <div style="font-family: 'Times New Roman'">
            <h5 class="black-text">
              Возможность организации полной автоматизации взвешивания с последующим экспортом данных в бухгалтерские программы
            </h5>
          </div>

        </div>
      </div>
    </div>


  </section>


  <section class="container">
    <div class="row pt-5 pb-5 flex-center">


      <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInLeft" data-wow-delay="0.3s">
        <div class="avatar white d-flex justify-content-center align-items-center">

          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          <img style="max-height: 300px"
               lightbox backgroundColor="white" src="assets/cert/bxn.jpg"
               class="img-fluid z-depth-1"
          />
        </div>
        <div class="text-center mt-4">
          <p class="font-weight-bold mb-lg-0">
            Бункерные весы Alex S&E типа – BXN, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
          </p>
        </div>
      </div>




      <div class="col-lg-6 col-md-6 mb-lg-0 mb-4 wow fadeInRight" data-wow-delay="0.3s">
        <div class="avatar white d-flex justify-content-center align-items-center">

          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          <img style="max-height: 300px"
               lightbox backgroundColor="white" src="assets/cert/bsn.jpg"
               class="img-fluid z-depth-1"
          />
        </div>
        <div class="text-center mt-4">
          <p class="font-weight-bold mb-lg-0">
            Бункерные весы Alex S&E типа – BSN, соответствуют стандарту RGML14:2007 «Весы неавтоматического взвешивания». Сертифицированы и внесены в Государственный реестр средств измерений Республики Молдова.
          </p>
        </div>
      </div>



    </div>

  </section>


</div>
